<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Смена пароля</title>

    <link rel="stylesheet" type="text/css" href="{% static 'todo_tasks/Bootstrap-5-5.1.3/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'todo_tasks/DataTables-1.12.1/css/dataTables.bootstrap5.css' %}"/>
    <script type="text/javascript" src="{% static 'todo_tasks/Bootstrap-5-5.1.3/js/bootstrap.bundle.js' %}"></script>

    <script type="text/javascript" src="{% static 'todo_tasks/jQuery-3.6.0/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'todo_tasks/Bootstrap-5-5.1.3/js/bootstrap.min.js' %}"></script>


</head>

<body>
<div class="container">
    <br>
    <h2 class="m-3, text-center">Смена пароля</h2>
    <br>
    <figure class="text-center">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'profile' %}">Отмена</a>
            <button type="submit" class="btn btn-success">Изменить</button>
        </form>
    </figure>

</div>
</body>
</html>
