{% extends "todo_tasks/base.html" %}
{% load static %}
{% block title %}
    Профиль
{% endblock %}

{% block content %}
    <br>
    <h4>Ваш профиль</h4>
    <br>
    <p>ФИО: {{ user }} <small>({{ user.user }})</small></p>
    <p>Должность: {{ user.job_title }}</p>
    <p>Управление: {{ user.get_department_group_display }}</p>
    <p>Отдел: {{ user.department }}</p>
    <p>Номер телефона: {{ user.user_phone }}</p>
    <p>Пароль: ********* <a href="{% url 'change_password' %}">(изменить)</a></p>
    <a href="{% url 'edit_profile' %}" class="btn btn-primary" role="button">Редактировать</a>

{#    {{ form.as_table }}#}
{% endblock %}