{% extends "todo_tasks/base.html" %}

{% block title %}
    Добавить задание
{% endblock %}

{% block content %}
    <br>
    <h3 class="text-center display-6">Выдать задание</h3>
    <br>
    <form id="formAdd" method="post" data-contracts-url="{% url 'ajax_load_contracts' %}"
          data-stages-url="{% url 'ajax_load_stages' %}" data-incoming-emp-url="{% url 'ajax_load_inc_emp' %}">
        <div class="container">

            <div class="row">
                <div class="col">
                    {% csrf_token %}

                    Объект:
                    {{ form.task_object }}
                    Номер договора:
                    {{ form.task_contract }}
                    Этап:
                    {{ form.task_stage }}
                    Номер заказа:
                    {{ form.task_order }}
                    Вид документации:
                    {{ form.task_type_work }}
                    Здание:
                    {{ form.task_building }}

                </div>
                <div class="col">
                    Текст задания:
                    {{ form.text_task }}
                    <br>
                    {#                    Здесь должно быть поле для загрузки файла#}
                </div>
            </div>

            <br>

            <div class="row justify-content-center">
                <div class="col-2">
                    Первый руководитель:
                </div>
                <div class="col-3">
                    {{ form.first_sign_user }}
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-2">
                    Второй руководитель:
                </div>
                <div class="col-3">
                    {{ form.second_sign_user }}
                </div>
            </div>

{#            <div class="row justify-content-center">#}
{#                <div class="col-2">#}
{#                    ГИП:#}
{#                </div>#}
{#                <div class="col-3">#}
{#                    {{ form.cpe_sign_user }}#}
{#                </div>#}
{#            </div>#}
            <br>

            <div class="row justify-content-center">
                <div class="col-2">
                    Принимающий отдел:
                </div>
                <div class="col-3">
                    {{ form.incoming_dep }}
                </div>
            </div>
            <br>

            <div class="row justify-content-center">
                <div class="col">
                    <figure class="text-center">
                        <button type="submit" class="btn btn-success" href="{% url 'add_task' %}">Добавить задание
                        </button>
                        <button class="btn btn-success" type="submit" >OK</button>
                    </figure>
                </div>
            </div>
        </div>


    </form>



{% endblock %}



{% block js_stuff %}

    <!JS для фильтрации списка контрактов>
    <script>
        $("#id_task_object").change(function () {
            var url = $("#formAdd").attr("data-contracts-url");
            var objectId = $(this).val();  // получаем object ID из HTML input

            $.ajax({                       // формируем AJAX запрос
                url: url,                    // подгружаем URL адрес для запроса
                data: {
                    'object': objectId       // добавляем objectID в query параметры GET запроса
                },
                success: function (data) {   // `data` результат выполнения  функции `load_contract`
                    $("#id_task_contract").html(data);  // помещаем результат в выпадающее меню
                }
            });

        });
        //!JS для фильтрации списка этапов
        $("#id_task_contract").change(function () {
            var url = $("#formAdd").attr("data-stages-url");
            var conractId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'contract': conractId
                },
                success: function (data) {
                    $("#id_task_stage").html(data);
                }
            });

        });

        {#$("#id_incoming_dep").change(function () {#}
        {#    var url = $("#formAdd").attr("data-incoming-emp-url");#}
        {#    var depId = $(this).val();#}
        {##}
        {#    $.ajax({#}
        {#        url: url,#}
        {#        data: {#}
        {#            'departament': depId#}
        {#        },#}
        {#        success: function (data) {#}
        {#            $("#id_incoming_employee").html(data);#}
        {#        }#}
        {#    });#}
        {##}
        {#});#}
    </script>
{% endblock %}



