{% extends "todo_tasks/base.html" %}

{% block title %}
    Добавить задание
{% endblock %}

{% block content %}
    <h2 class="m-3, text-center">Выдать задание</h2>
    <form id="formAdd" method="post" data-contracts-url="{% url 'ajax_load_contracts' %}" data-stages-url="{% url 'ajax_load_stages' %}">
    {% csrf_token %}
    {{ form.as_table }}
    <button type="submit" class="btn btn-success" href="{% url 'add_task' %}">Добавить</button>




{% endblock %}

{% block js_stuff %}
 <script>
        $("#id_task_object").change(function () {
            var url = $("#formAdd").attr("data-contracts-url");  // get the url of the `load_cities` view
            var objectId = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'object': objectId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_task_contract").html(data);  // replace the contents of the city input with the data that came from the server
                }
            });

        });
        $("#id_task_contract").change(function () {
            var url = $("#formAdd").attr("data-stages-url");  // get the url of the `load_cities` view
            var conractId = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request
                data: {
                    'contract': conractId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_task_stage").html(data);  // replace the contents of the city input with the data that came from the server
                }
            });

        });
    </script>
{% endblock %}

