<!DOCTYPE html>
<html class="h-100" lang="ru">
<head>
    {% load static %}
    {% load task_tags %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'todo_tasks/Bootstrap-5-5.1.3/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'todo_tasks/css/tasks.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'todo_tasks/css/style_sidebar.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'todo_tasks/DataTables-1.12.1/css/dataTables.bootstrap5.css' %}"/>
    <script type="text/javascript" src="{% static 'todo_tasks/Bootstrap-5-5.1.3/js/bootstrap.bundle.js' %}"></script>

    <script type="text/javascript" src="{% static 'todo_tasks/jQuery-3.6.0/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'todo_tasks/Bootstrap-5-5.1.3/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'todo_tasks/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'todo_tasks/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
    <script type="text/javascript" src="{% static 'todo_tasks/datatables.min.js' %}"></script>
    {% block css_stuff %}
    {% endblock %}


</head>

<body class="content-fade">

{% include "todo_tasks/sidebar.html" %}

<nav class="py-2 my-nav">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item">
                <a class="nav-link text-3-menu" href="{% url 'index' %}">{{ user }}</a>

            </li>
        </ul>

        <ul class="nav">
            <div class="dropdown">
                <a class="nav-link text-3-menu" type="button" data-bs-toggle="offcanvas"
                   data-bs-target="#offcanvasScrolling"
                   aria-controls="offcanvasScrolling"> Меню </a>
            </div>
            </li>
        </ul>
        <!--Боковое меню-->
        <div class="offcanvas offcanvas-end bg-light" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
             id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Меню</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
            </div>
            <div class="offcanvas-body">
                <a class="dropdown-item" href="{% url 'index' %}">Главная страница</a>
                <!-- Для руководителей-->
                {% if user.right_to_sign == True and user.cpe_flag == False %}
                    {% include "todo_tasks/offcanvas/offcanvas_can_sign.html" %}
                {% elif user.cpe_flag == True %}
                    {% include "todo_tasks/offcanvas/offcanvas_cpe.html" %}
                {% else %}
                    {% include "todo_tasks/offcanvas/offcanvas_worker.html" %}
                {% endif %}
                <a class="dropdown-item" href="{% url 'advanced_search' %}">Расширенный поиск</a>
                <hr class="dropdown-divider">
                                <a class="dropdown-item" href="{% url 'change_password' %}">Сменить пароль</a>
                                <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>


                <div class="dropdown">
                    <a href="#" class="dropdown-item align-items-center text-black dropdown-toggle"
                       id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">Профиль</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
    </div>
    </div>
</nav>

<div class="container">

    {% block content %}
    {% endblock %}
</div>

<script>
    $('tr[data-href]').on("click", function () {
        document.location = $(this).data('href');
    });
</script>


{% block js_stuff %}
{% endblock %}


</body>
</html>



