<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'todo_tasks/Bootstrap-5-5.1.3/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'todo_tasks/DataTables-1.12.1/css/dataTables.bootstrap5.css' %}"/>
    <script type="text/javascript" src="{% static 'todo_tasks/Bootstrap-5-5.1.3/js/bootstrap.bundle.js' %}"></script>

    <script type="text/javascript" src="{% static 'todo_tasks/jQuery-3.6.0/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'todo_tasks/Bootstrap-5-5.1.3/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'todo_tasks/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'todo_tasks/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
    <script type="text/javascript" src="{% static 'todo_tasks/datatables.min.js' %}"></script>

</head>

<body>
<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="{% url 'index' %}" class="nav-link link-dark px-2 active" aria-current="page">Главная</a>
            </li>
            {#            <li class="nav-item"><a href="{% url 'add_task' %}" class="nav-link link-dark px-2">Добавить запись</a></li>#}
            {#            <li class="nav-item"><a href="{% url 'about' %}" class="nav-link link-dark px-2">About</a></li>#}
            {#            <li class="nav-item"><a href="{% url 'api' %}" class="nav-link link-dark px-2">API</a></li>#}
        </ul>
        <ul class="nav">
            <li class="nav-item"><a class="nav-link link-dark px-2 active">{{ user }}</a></li>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Меню
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{% url 'add_task' %}">Добавить задание</a></li>
                    {% if user.right_to_sign == True %}
                    <li><a class="dropdown-item" href="{% url 'incoming_to_sign' %}">Требующие подписи {{ count_task_to_sign }} {{ request.count_task_to_sign }}</a>
                    </li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'my_tasks' %}">Мои задания</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'change_password' %}">Сменить пароль</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
                </ul>
            </div>
            </li>
        </ul>
    </div>
</nav>




<div class="container">


    {% block content %}
    {% endblock %}
</div>




{% block js_stuff %}
{% endblock %}

</body>
</html>



