{% extends "todo_tasks/base.html" %}
{% load static %}
{% block title %}
    Подробности
{% endblock %}
{% block content %}
    <br>


    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="d-flex justify-content-start">
                    <h4>Детали задания {{ obj.task_number }} <small class="text-muted">({{ task_status }})</small></h4>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-end">
                    {% if flag == True %}
                        <h4>
                            <a href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <img src="{% static 'todo_tasks/icons/list.svg' %}" data-toggle="tooltip"
                                     title="Действия">
                                {% include 'todo_tasks/detail_buttons/buttons_gear_for_details.html' %}
                            </a>
                        </h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <br>


    <div class="container">
        <div class="row">
            <div class="col">
                Автор задания:
                <span data-toggle="tooltip"
                      title="{{ obj.author.job_title }} тел. ({{ obj.author.user_phone }}), {{ obj.author.department.command_name }}">{{ form.author }}</span>
                Принимающий отдел:
                {{ form.incoming_dep }}
                Объект:
                {{ form.task_object }}

                Номер договора:
                {{ form.task_contract }}
                Этап:
                {{ form.task_stage }}
                Номер заказа:
                {{ form.task_order }}
                Здание
                {{ form.task_building }}
                Вид документации:
                {{ form.task_type_work }}

            </div>
            <div class="col">
                <p>Текст задания:</p>
                {{ form.text_task }}
                <br>
                Дата создания: {{ obj.task_create_date }}
                <br>
                Дата последнего изменения: {{ obj.task_last_edit }}
                <br>
                <br>
                <! Формирование строку с первым подписантом>

                <div class="row">
                    <div class="col">
                        {{ sign_info.first_sign_job_title }}:
                    </div>

                    <div class="col">
                        <span data-toggle="tooltip"
                              title="{{ obj.first_sign_user }} (тел. {{ obj.first_sign_user.user_phone }})">{{ sign_info.first_sign_name }}</span>
                    </div>

                    {% if obj.first_sign_status %}
                        <div class="col bg-success text-white text-right">
                            <span data-toggle="tooltip" title="{{ obj.first_sign_date }}">Подписано</span>
                        </div>
                    {% else %}
                        <div class="col bg-light text-right ">
                            Не подписано
                        </div>
                    {% endif %}

                </div>

                <! Формирование строку со вторым подписантом>

                <div class="row">
                    <div class="col">
                        {{ sign_info.second_sign_job_title }}:
                    </div>
                    <div class="col">
                        {#                        {{ sign_info.second_sign_name }}#}
                        <span data-toggle="tooltip"
                              title="{{ obj.second_sign_user }} (тел. {{ obj.second_sign_user.user_phone }})">{{ sign_info.second_sign_name }}</span>
                    </div>
                    {% if obj.second_sign_status %}
                        <div class="col bg-success text-white text-right">
                            <span data-toggle="tooltip" title="{{ obj.second_sign_date }}">Подписано</span>
                        </div>
                    {% else %}
                        <div class="col bg-light text-right ">
                            Не подписано
                        </div>
                    {% endif %}
                </div>


                <! Формирование строку с третьим подписантом>


                <div class="row">
                    <div class="col">
                        {{ sign_info.cpe_sign_job_title }}:
                    </div>
                    <div class="col">
                        <span data-toggle="tooltip"
                              title="{{ obj.cpe_sign_user }} (тел. {{ obj.cpe_sign_user.user_phone }})">{{ sign_info.cpe_sign_name }}</span>
                    </div>
                    {% if obj.cpe_sign_status %}
                        <div class="col bg-success text-white text-right">
                            <span data-toggle="tooltip" title="{{ obj.cpe_sign_date }}">Подписано</span>
                        </div>
                    {% else %}
                        <div class="col bg-light text-right ">
                            Не подписано
                        </div>
                    {% endif %}
                </div>

                <!-- Формируем строку с принимающим -->

                <div class="row">
                    <div class="col">
                        {{ sign_info.incom_job_title }}:
                    </div>
                    <div class="col">
                        <span data-toggle="tooltip"
                              title="{{ obj.incoming_employee }} (тел. {{ obj.incoming_employee.user_phone }})">{{ sign_info.incom_sign_name }}</span>
                    </div>
                    {% if obj.incoming_status %}
                        <div class="col bg-success text-white text-right">
                            <span data-toggle="tooltip" title="{{ obj.incoming_date }}">Подписано</span>
                        </div>
                    {% else %}
                        <div class="col bg-light text-right ">
                            Не подписано
                        </div>
                    {% endif %}
                </div>


                <div class="row">
                    <div class="col">
                        {% if obj.cpe_comment %}
                            <div class="alert alert-success mt-2">
                                <p class="h5">Комментарий ГИП-а<br>
                                <p>{{ obj.cpe_comment }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
        {% block buttons %}
        {% endblock %}

        <!-- Формируем список исполнителей, если они имеются-->
        {% if workers %}

            <br>
            <h5>Назначены исполнители</h5>
            <ul class="list-group">
                {% for worker in workers %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ worker.worker_user }} <small class="text-muted"> ({{ worker.worker_user.job_title}}, {{ worker.worker_user.department }})</small>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {#        {% if obj.department_number.id == user.department.id %}#}
        {#            {% if obj.author.user == request.user and obj.first_sign_status == 0 and obj.second_sign_status == 0 or obj.back_to_change == True %}#}
        {#                <br>#}
        {#                <div class="row justify-content-center">#}
        {#                    <div class="col">#}
        {#                        <figure class="text-center">#}
        {#                            <a href="{% url "change" pk=obj.id %}" class="btn btn-primary">Редактировать</a>#}
        {#                        </figure>#}
        {#                    </div>#}
        {#                </div>#}
        {#            {% elif obj.task_status == 2 or obj.task_status == 3  and obj.department_number.id == user.department.id %}#}
        {#                <br>#}
        {#                <div class="row justify-content-center">#}
        {#                    <div class="col">#}
        {#                        <figure class="text-center">#}
        {#                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"#}
        {#                                    data-bs-target="#cancel_task"#}
        {#                                    data-toggle="tooltip" title="Аннулировать задание">#}
        {#                                Аннулировать#}
        {#                            </button>#}
        {#                            {% if obj.task_status == 2 %}#}
        {#                                <button type="button" class="btn btn-warning" data-bs-toggle="modal"#}
        {#                                        data-bs-target="#correction_task"#}
        {#                                        data-toggle="tooltip" title="Сообщить о планируемой корректировке задания">#}
        {#                                    Сообщить о корректировке#}
        {#                                </button>#}
        {#                            {% endif %}#}
        {#                            <a href="{% url "add_task_change" pk=obj.id %}" class="btn btn-primary">Выдать изменение</a>#}
        {#                        </figure>#}
        {#                    </div>#}
        {#                </div>#}
        {#            {% endif %}#}
        {#            </div>#}
        {#        {% endif %}#}

        {% if obj.task_status == 2 or obj.task_status == 3  and obj.department_number.id == user.department.id %}
            <!-- Модальное окно аннулирование задания-->
            <div class="modal fade" id="cancel_task" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Аннулирование задания</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            Вы точно хотите аннулировать задание? Отменить данное действие невозможно
                        </div>
                        <div class="modal-footer">
                            <form method="POST">

                                {% csrf_token %}
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                <input type="submit" class="btn btn-danger" name="cancel_modal_button"
                                       value="Аннулировать">
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Модальное окно сообщиь о корректировке-->
            <div class="modal fade" id="correction_task" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Корректировка</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            Хотите изменить статус задания? Отменить данное действие невозможно
                        </div>
                        <div class="modal-footer">
                            <form method="POST">

                                {% csrf_token %}
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                <input type="submit" class="btn btn-danger" name="correction_modal_button"
                                       value="Сообщить о планируемом изменении">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}


        {#<span data-toggle="tooltip" title="другой текст подсказки">некоторый текст</span>#}
        <script>
            // после загрузки страницы
            $(function () {
                // инициализации подсказок для всех элементов на странице, имеющих атрибут data-toggle="tooltip"
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>

{% endblock %}