{#{% extends "todo_tasks/base.html" %}#}
{% extends 'todo_tasks/details.html' %}

{#{% block title %}#}
{#    Подробности#}
{#{% endblock %}#}
{% block buttons %}
    <br>
    {% load static %}
    <script type="text/javascript" src="https://unpkg.com/htmx.org@1.3.3"></script>
    <form id="form-container" method="POST" hx-post={% url 'details_to_add_workers' pk=obj.id %} hx-target="#worker_list">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset.forms %}
            <div class="worker_form">
                {{ form }}
            </div>
        {% endfor %}
        <button class="btn btn-success" type="submit" hx-target="worker_list">Подкинуть работенку</button>
    </form>

    <div id="worker_list">
        {% include 'todo_tasks/htmx/workers.html' %}
    </div>


{% endblock %}




