{% extends "todo_tasks/base.html" %}

{% block title %}
    Входящие задания
{% endblock %}

{% block content %}
    <br>
    <h3 class="text-center">{{ user }}, эти задания ожидают Вашей подписи</h3>
<table id="incoming_table" class="table table-hover" style="width: 100%">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Номер задания</th>
                        <th scope="col">Текст задания</th>
                        <th scope="col">Автор задания</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for obj in sign_list %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                <a href="{% url 'details_to_sign' pk=obj.id %}"
                                   style="position: absolute; width: 100%; left: 0px; height: 1.5em;"></a>
                                {{ obj.task_number }}</td>
                            <td>{{ obj.text_task }}</td>
                            <td>{{ obj.author }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

{% endblock %}

