{% extends "todo_tasks/base.html" %}
{% load static %}
{% load task_tags %}
{% block title %}
    Главная страница
{% endblock %}
{% block content %}
    <form method="POST">
        <div class="container vh-100 d-flex justify-content-center align-items-center">
            {% csrf_token %}
            <div class="row">
                <div class="col-5">
                    <span data-toggle="tooltip" title="Привет">
                        <h1 class="display-6" >{{ user }}, давайте что-нибудь поищем</h1></span>
                </div>
                <div class="col-7 justify-content-center align-self-center">
                    <span data-toggle="tooltip" title="Чувствителен к регистру">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Пишите вот сюда" name="search_field">
                        <input type="submit" class="btn btn-secondary" name="search_button" value="Найти">
                    </div>
                    </span>
                </div>
            </div>

        </div>
    </form>

{% endblock %}

{% block js_stuff %}
    <!-- JS для работы таблицы со всеми заданиями -->
    <script>
        // после загрузки страницы
        $(function () {
            // инициализации подсказок для всех элементов на странице, имеющих атрибут data-toggle="tooltip"
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}