{% load static %}
{% load task_tags %}

<script>

    function onclickmytasks() {
        var my_tasks = document.getElementById('my_tasks')
        var my_tasks_on_sign = document.getElementById('my_tasks_on_sign')
        var my_inbox = document.getElementById('my_inbox')
        var group_inbox = document.getElementById('group_inbox')
        var group_outbox = document.getElementById('group_outbox')
        var group_on_sign = document.getElementById('group_on_sign')

        group_inbox.style.display = 'none'
        group_outbox.style.display = 'none'
        group_on_sign.style.display = 'none'

        if (my_tasks.style.display == 'none') {
            my_tasks_on_sign.style.opacity = '0'
            my_tasks_on_sign.style.display = 'block'
            my_tasks.style.opacity = '0'
            my_tasks.style.display = 'block'
            my_inbox.style.opacity = '0'
            my_inbox.style.display = 'block'
            var op = 0;
            while (op <= 1) {
                (function (_op) {
                    setTimeout(function () {
                        my_tasks.style.opacity = _op;
                    }, 100 + op * 380);
                    setTimeout(function () {
                        my_tasks_on_sign.style.opacity = _op;
                    }, 100 + op * 380);
                    setTimeout(function () {
                        my_inbox.style.opacity = _op;
                    }, 100 + op * 380);
                })(op);
                op += 0.1;
            }
        } else {
            my_tasks_on_sign.style.display = 'none'
            my_tasks.style.display = 'none'
            my_inbox.style.display = 'none'
        }
    }

    function onclickgrouptasks() {
        var my_tasks = document.getElementById('my_tasks')
        var my_tasks_on_sign = document.getElementById('my_tasks_on_sign')
        var my_inbox = document.getElementById('my_inbox')
        var group_inbox = document.getElementById('group_inbox')
        var group_outbox = document.getElementById('group_outbox')
        var group_on_sign = document.getElementById('group_on_sign')

        my_tasks.style.display = 'none'
        my_tasks_on_sign.style.display = 'none'
        my_inbox.style.display = 'none'

        if (group_outbox.style.display == 'none') {
            group_inbox.style.opacity = '0'
            group_inbox.style.display = 'block'
            group_outbox.style.opacity = '0'
            group_outbox.style.display = 'block'
            group_on_sign.style.opacity = '0'
            group_on_sign.style.display = 'block'
            var op = 0;
            while (op <= 1) {
                (function (_op) {
                    setTimeout(function () {
                        group_on_sign.style.opacity = _op;
                    }, 100 + op * 380);
                    setTimeout(function () {
                        group_outbox.style.opacity = _op;
                    }, 100 + op * 380);
                    setTimeout(function () {
                        group_inbox.style.opacity = _op;
                    }, 100 + op * 380);
                })(op);
                op += 0.1;
            }
        } else {
            group_inbox.style.display = 'none'
            group_outbox.style.display = 'none'
            group_on_sign.style.display = 'none'
        }
    }


    function hidecircle() {
        {#получаем кружки с количеством необработанных заданий#}
        const outgoing_num = document.getElementById('outgoing_num')
        const approve_num = document.getElementById('approve_num')
        const incoming_to_sign_num = document.getElementById('incoming_to_sign_num')
        const workers_to_sign_num = document.getElementById('workers_to_sign_num')
        const my_tasks_num = document.getElementById('my_tasks_num')
        const my_tasks_num_inbox = document.getElementById('my_tasks_num_inbox')
        const my_tasks_change_num_inbox = document.getElementById('my_tasks_change_num_inbox')

        try {
            if (!(my_tasks_change_num_inbox.innerText === '')) {
                my_tasks_change_num_inbox.style.display = 'block'
            }
        } catch (e) {
        }

        try {
            if (!(outgoing_num.innerText === '')) {
                outgoing_num.style.display = 'block'
            }
        } catch (e) {
        }

        try {
            if (!(approve_num.innerText === '')) {
                approve_num.style.display = 'block'
            }
        } catch (e) {

        }

        try {
            if (!(incoming_to_sign_num.innerText === '')) {
                incoming_to_sign_num.style.display = 'block'
            }
        } catch (e) {

        }

        try {
            if (!(workers_to_sign_num.innerText === '')) {
                workers_to_sign_num.style.display = 'block'
            }
        } catch (e) {

        }

        if (!(my_tasks_num_inbox.innerText === '') || !(my_tasks_change_num_inbox.innerText === '')) {
            my_tasks_num.innerText = Number(my_tasks_num_inbox.innerText) + Number(my_tasks_change_num_inbox.innerText)
        }

        try {
            if (!(my_tasks_num.innerText === '')) {
                my_tasks_num.style.display = 'block'
            }
        } catch (e) {

        }

        try {
            if (!(my_tasks_num_inbox.innerText === '')) {
                my_tasks_num_inbox.style.display = 'block'
            }
        } catch (e) {

        }


    }


</script>
<div>

    <nav class="main-menu">
        <ul>
            <li>
                <a href="{% url 'index' %}" style="vertical-align: top">

                    <i class="fa">
                        <div class="icon-home"></div>
                    </i>

                    <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                           Главная страница
                        </span>
                </a>

            </li>

            <!-- Для руководителей-->
            {% if user.right_to_sign == True and user.cpe_flag == False %}
                {% include "todo_tasks/offcanvas/offcanvas_can_sign.html" %}
            {% elif user.cpe_flag == True %}
                {% include "todo_tasks/offcanvas/offcanvas_cpe.html" %}
            {% else %}
                {% include "todo_tasks/offcanvas/offcanvas_worker.html" %}
            {% endif %}


            <li>
                <a href="{% url 'advanced_search' %}">
                    <i class="fa">
                        <div class="icon-search-menu"></div>
                    </i>
                    <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            Расширенный поиск
                        </span>
                </a>
            </li>

            <li>
                <a href="{% url 'favorites' %}">
                    <i class="fa">
                        <div class="icon-favorites-menu"></div>
                    </i>
                    <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                           Избранное
                        </span>
                </a>
            </li>
        </ul>


        <ul class="logout">
            <li>
                <a href="{% url 'profile' %}">
                    <i class="fa">
                        <div class="icon-user-menu"></div>
                    </i>
                    <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            {{ user.last_name }} {{ user.first_name|slice:"0:1" }}.{{ user.middle_name|slice:"0:1" }}.
                        </span>
                </a>
            </li>
            <li>
                <a href="{% url 'logout' %}">
                    <i class="fa">
                        <div class="icon-power-off-menu"></div>
                    </i>
                    <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            Выйти
                        </span>
                </a>
            </li>
        </ul>
    </nav>
    <script type="text/javascript">
        hidecircle()
    </script>
</div>