{#{% extends "todo_tasks/base.html" %}#}
{% extends 'todo_tasks/details/details.html' %}
{#{% block title %}#}
{#    Подробности#}
{#{% endblock %}#}
{% block buttons %}
    <br>
    <form method="POST">

        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col">

                <figure class="text-center">


                    {% if approve_flag is True %}
                        <input type="submit" class="btn btn-outline-success" name="approve_sign" value="Подписать"
                               data-toggle="tooltip" title="Подписать">
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                data-bs-target="#comment_modal"
                                data-toggle="tooltip" title="Отправить замечание автору на почту">
                            Замечание
                        </button>
                    {% endif %}
                </figure>
            </div>
        </div>
        {#    </form>#}


        <!-- Модальное окно -->
        <div class="modal fade" id="comment_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Замечание автору задания</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <textarea class="form-control" rows="4" name="modal_text"></textarea>
                        <p><small>Текст данного сообщения придет автору на электронную почту</small></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <input type="submit" class="btn btn-warning" name="back_modal_button" value="Отправить">
                    </div>
                </div>
            </div>
        </div>


    </form>

    <script>
        // после загрузки страницы
        $(function () {
            // инициализации подсказок для всех элементов на странице, имеющих атрибут data-toggle="tooltip"
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-bs-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}




