{#{% extends "todo_tasks/base.html" %}#}
{% extends 'todo_tasks/details/details.html' %}
{#{% block title %}#}
{#    Подробности#}
{#{% endblock %}#}
{% block buttons %}
    <br>
    <form method="POST">
        {% if obj.back_to_change == False %}
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col">

                    <figure class="text-center">

                        {% if can_sign == True and obj.incoming_status == 0 %}
                            <button type="button" class="button-danger" data-bs-toggle="modal"
                                    data-bs-target="#back_modal"
                                    data-toggle="tooltip"
                                    title="Отказаться подписывать и направить комментарий автору задания">
                                Отказаться подписывать
                            </button>
                            <input type="submit" class="button-success" name="sign_incoming" value="Принять задание"
                                   data-toggle="tooltip" title="Подписать и запустить в работу">



                            {#                        <input type="submit" class="btn btn-danger" name="not_sign_incoming" value="Вернуть"#}
                            {#                               data-toggle="tooltip" title="Вернуть">#}

                        {% endif %}
                    </figure>
                </div>
            </div>
            {#    </form>#}


            <!-- Модальное окно комментария -->
            <div class="modal fade" id="back_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Укажите причину</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            <textarea class="form-control" rows="4" name="comment_modal_text"></textarea>
                            <input class="form-check-input" type="checkbox" name="checkbox" value="need_edit"
                                   id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Требуется редактирования
                            </label>
                            <p><small>(Ставя галочку, учтите, после этого действия автору придется собирать все подписи
                                с самого начала)</small></p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            <input id="button_back" type="submit" class="btn btn-warning" name="not_incoming_button"
                                   value="Отправить комментарий">
                            {#                            <input id="button_back" type="submit" class="btn btn-danger" name="not_incoming_button" value="Отправить">#}
                        </div>
                    </div>
                </div>
            </div>

            </form>
        {% endif %}
    <script>
        // после загрузки страницы
        $(function () {
            // инициализации подсказок для всех элементов на странице, имеющих атрибут data-toggle="tooltip"
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-bs-toggle="tooltip"]').tooltip();
            var checkbox = document.getElementById("flexCheckDefault");
            var back_button = document.getElementById("button_back");
            checkbox.addEventListener('change', function () {
                if (this.checked) {
                    back_button.value = ("Вернуть")
                    back_button.className = 'btn btn-danger'
                } else {
                    back_button.value = ("Отправить сообщение")
                    back_button.className = 'btn btn-warning'
                }
            });
        });
    </script>
{% endblock %}




