{% extends "todo_tasks/base.html" %}
{% load static %}
{% load task_tags %}
{% block title %}
    Подробности
{% endblock %}


{% block content %}
    <br>


    {#    <div class="container">#}
    <div class="row">
        <div class="col-10">
            <div class="d-flex justify-content-center" style="margin-left: 200px">
                <h4 class="text-1-task" style="margin-top: 25px; display: inline">Детали задания {{ obj.task_number }}
                    <p class="text-1-task" style="font-size: 15px">{% if obj.back_to_change %}(Требует
                        редактирования){% else %}({{ task_status }}) {% endif %}</p></h4>
            </div>
        </div>
        <div class="col" style="margin-top: 25px">
            <div class="d-flex justify-content-end">
                <h4>

                    <a href="#" onclick="copyLink()"><img class="hover-mouse-icon"
                                                          src="{% static 'todo_tasks/icons/share.svg' %}"
                                                          data-toggle="tooltip"
                                                          title="Поделиться"></a>

                    <a href="#" onclick="openFavoriteListModal({{ user.id }})"><img class="hover-mouse-icon"
                                                                                 src="{% static 'todo_tasks/icons/bookmark.svg' %}"
                                                                                 data-toggle="tooltip"
                                                                                 title="Добавить в избранное"></a>
                    <a href="{% url 'download_blank' obj.id %}" target="_blank"><img class="hover-mouse-icon"
                                                                                     src="{% static 'todo_tasks/icons/file-earmark-pdf.svg' %}"
                                                                                     data-toggle="tooltip"
                                                                                     title="Скачать бланк"></a>
                    {% if flag == True and user.department == obj.department_number or user.department == obj.incoming_dep %}
                        {#                    {% if flag == True and user.department == obj.department_number %}#}
                        <a href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <img src="{% static 'todo_tasks/icons/list.svg' %}" data-toggle="tooltip"
                                 title="Действия" class="hover-mouse-icon">
                            {% include 'todo_tasks/detail_buttons/buttons_gear_for_details.html' %}
                        </a>
                        </h4>
                    {% endif %}
            </div>
        </div>
    </div>
    {#    </div>#}


    <br>


    {#    <div class="container">#}
    <div class="row">
        <div class="col">

            <span class="text-3"
                  style="display: inline-block; text-transform: uppercase; margin-top: 10px">Автор задания:</span>
            <span data-toggle="tooltip"
                  title="{{ obj.author.job_title }} тел. ({{ obj.author.user_phone }}), {{ obj.author.department.command_name }}">{{ form.author }}</span>
            <span class="text-3"
                  style="display: inline-block; text-transform: uppercase; margin-top: 10px">Принимающий отдел:</span>
            {{ form.incoming_dep }}
            <span class="text-3"
                  style="display: inline-block; text-transform: uppercase; margin-top: 10px">Объект:</span>
            {{ form.task_object }}
            <span class="text-3"
                  style="display: inline-block; text-transform: uppercase; margin-top: 10px">Номер договора:</span>
            {{ form.task_contract }}
            <span class="text-3"
                  style="display: inline-block; text-transform: uppercase; margin-top: 10px">Этап:</span>
            {{ form.task_stage }}
            <span class="text-3"
                  style="display: inline-block; text-transform: uppercase; margin-top: 10px">Номер заказа:</span>
            {{ form.task_order }}
            <span class="text-3"
                  style="display: inline-block; text-transform: uppercase; margin-top: 10px">Здание</span>
            {{ form.task_building }}
            <span class="text-3"
                  style="display: inline-block; text-transform: uppercase; margin-top: 10px">Вид документации:</span>
            {{ form.task_type_work }}
            <span class="text-3"
                  style="display: inline-block; text-transform: uppercase; margin-top: 10px">Марка документации:</span>
            {{ form.task_mark_doc }}

        </div>
        <div class="col">
            <span class="text-3" style="display: inline-block; text-transform: uppercase; margin-top: 10px">Текст задания:</span>
            {{ form.text_task }}
            <br>
            Дата создания: {{ obj.task_create_date }}
            <br>
            Дата последнего изменения: {{ obj.task_last_edit }}
            <br>
            <br>
            <!-- Формирование строку с первым подписантом-->

            <div class="row">
                <div class="col">
                    {{ sign_info.first_sign_job_title }}:
                </div>

                <div class="col">
                        <span data-toggle="tooltip"
                              title="{{ obj.first_sign_user }} (тел. {{ obj.first_sign_user.user_phone }})">{{ sign_info.first_sign_name }}</span>
                </div>

                {% if obj.first_sign_status %}
                    <div class="col text-white text-right" style="background: #5FAD05; margin-right: 11px">
                        <span data-toggle="tooltip" title="{{ obj.first_sign_date }}">Подписано</span>
                    </div>
                {% else %}
                    <div class="col bg-light text-right" style=" margin-right: 11px">
                        Не подписано
                    </div>
                {% endif %}

            </div>

            <! Формирование строку со вторым подписантом>

            <div class="row">
                <div class="col">
                    {{ sign_info.second_sign_job_title }}:
                </div>
                <div class="col">
                    {#                        {{ sign_info.second_sign_name }}#}
                    <span data-toggle="tooltip"
                          title="{{ obj.second_sign_user }} (тел. {{ obj.second_sign_user.user_phone }})">{{ sign_info.second_sign_name }}</span>
                </div>
                {% if obj.second_sign_status %}
                    <div class="col text-white text-right" style="background: #5FAD05; margin-right: 11px">
                        <span data-toggle="tooltip" title="{{ obj.second_sign_date }}">Подписано</span>
                    </div>
                {% else %}
                    <div class="col bg-light text-right"  style=" margin-right: 11px">
                        Не подписано
                    </div>
                {% endif %}
            </div>


            <! Формирование строку с третьим подписантом>


            <div class="row">
                <div class="col">
                    {{ sign_info.cpe_sign_job_title }}:
                </div>
                <div class="col">
                        <span data-toggle="tooltip"
                              title="{{ obj.cpe_sign_user }} (тел. {{ obj.cpe_sign_user.user_phone }})">{{ sign_info.cpe_sign_name }}</span>
                </div>
                {% if obj.cpe_sign_status %}
                    <div class="col text-white text-right" style="background: #5FAD05; margin-right: 11px">
                        <span data-toggle="tooltip" title="{{ obj.cpe_sign_date }}">Подписано</span>
                    </div>
                {% else %}
                    <div class="col bg-light text-right" style=" margin-right: 11px">
                        Не подписано
                    </div>
                {% endif %}
            </div>

            <!-- Формируем строку с принимающим -->

            <div class="row">
                <div class="col">
                    {{ sign_info.incom_job_title }}:
                </div>
                <div class="col">
                        <span data-toggle="tooltip"
                              title="{{ obj.incoming_employee }} (тел. {{ obj.incoming_employee.user_phone }})">{{ sign_info.incom_sign_name }}</span>
                </div>
                {% if obj.incoming_status %}
                    <div class="col text-white text-right" style="background: #5FAD05; margin-right: 11px">
                        <span data-toggle="tooltip" title="{{ obj.incoming_date }}">Подписано</span>
                    </div>
                {% else %}
                    <div class="col bg-light text-right" style=" margin-right: 11px">
                        Не подписано
                    </div>
                {% endif %}
            </div>


            <div class="row">
                <div class="col">
                    {% if obj.cpe_comment %}
                        <div class="alert alert-success mt-2" style="background: #8CCE5A; border-color: #8CCE5A">
                            <p class="h5">Комментарий ГИП-а<br>
                            <p>{{ obj.cpe_comment }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

    {% if files %}


        <span class="text-3"
              style="display: inline-block; text-transform: uppercase; margin-top: 25px">Приложенные файлы:</span>
        <ul class="list-group">
            {% for file in files %}
                <li class="list-group-item d-flex justify-content-start align-items-center hover-mouse"
                    onclick="window.open('{% url 'download_file' file.id %}', '_blank')" style="cursor: pointer">
                    <img src="{% static 'todo_tasks/icons/file-arrow-down.svg' %}" style="margin-right: 10px">
                    {#                    <a href="{% url 'download_file' file.id %}"#}
                    {#                       class="nav-link text-black" download>{% split_filename file.file %}</a>#}
                    {% split_filename file.file %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}




    {% if approve_users %}
        <div>
            <span class="text-3"
                  style="display: inline-block; text-transform: uppercase; margin-top: 25px">Согласователи:</span>
            <ul class="list-group">
                {% for user in approve_users %}
                    {% if user.approve_status %}
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                            style="background: rgba(95,173,5,0.1)">
                            {% else %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                    {% endif %}
                {{ user.approve_user }} <small class="text-muted">
                    ({{ user.approve_user.job_title }}, {{ user.approve_user.department }},
                    тел. {{ user.approve_user.user_phone }})</small>
                </li>
                {% endfor %}
                <ul>
        </div>
    {% endif %}
    {% block buttons %}
    {% endblock %}

    <!-- Формируем список исполнителей, если они имеются-->
    {% if workers %}

        <span class="text-3"
              style="display: inline-block; text-transform: uppercase; margin-top: 25px">Исполнители:</span>
        <ul class="list-group">
            {% for worker in workers %}
                <li class="list-group-item d-flex justify-content-between align-items-center hover-mouse">
                    {{ worker.worker_user }} <small class="text-muted">
                    ({{ worker.worker_user.job_title }}, {{ worker.worker_user.department }},
                    тел. {{ worker.worker_user.user_phone }})</small>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Формируем список исполнителей, если они имеются-->


    {% if obj.task_status == 2 or obj.task_status == 3  and obj.department_number.id == user.department.id %}
        <!-- Модальное окно аннулирование задания-->
        <div class="modal fade" id="cancel_task" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Аннулирование задания</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        Вы точно хотите аннулировать задание? Отменить данное действие невозможно
                    </div>
                    <div class="modal-footer">
                        <form method="POST">

                            {% csrf_token %}
                            <button type="button" class="button-cancel-fill-border" data-bs-dismiss="modal">Отмена
                            </button>
                            <input type="submit" class="button-danger-rusatom-border" name="cancel_modal_button"
                                   value="Аннулировать">
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- Модальное окно сообщиь о корректировке-->
        <div class="modal fade" id="correction_task"
             tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Корректировка</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        Хотите изменить статус задания? Отменить данное действие невозможно
                    </div>
                    <div class="modal-footer">
                        <form method="POST">

                            {% csrf_token %}
                            <button type="button" class="button-cancel-fill-border" data-bs-dismiss="modal">Отмена
                            </button>
                            <input type="submit" class="button-danger-rusatom-border" name="correction_modal_button"
                                   value="Сообщить о планируемом изменении">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
    <br>

    <!-- Модальное окно добавить в избранное -->

    <div class="modal fade" id="to_favorites"
         tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Добавить в избранное</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Закрыть"></button>
                </div>
                <form method="POST" action="{% url 'add_task_to_favorites' pk=obj.id %}">
                    <div class="modal-body">

                        Список:
                        <div id="list_favorites" data-ajax-url="{% url 'ajax_load_favorites' %}">
{#                        {{ to_my_favorite_form }}#}
                        </div>
                        {#                    {{ to_share_favorite_form }}#}
                    </div>
                    <div class="modal-footer">

                        {% csrf_token %}
                        <button type="button" class="button-cancel-rusatom" data-bs-dismiss="modal">Отмена</button>
                        <input type="submit" class="button-primary-rusatom" name="correction_modal_button"
                               value="Добавить">
                </form>
            </div>
        </div>
    </div>
    </div>


    <!-- Уведомление о скопированной ссылке -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="margin-right: 50px">
        <div id="alertCopyLink" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="">
            <div class="toast-body" style="background-color: #282828; color: white">
                Ссылка скопирована
            </div>
        </div>
    </div>



    {#<span data-toggle="tooltip" title="другой текст подсказки">некоторый текст</span>#}
    <script>
        // после загрузки страницы
        $(function () {
            // инициализации подсказок для всех элементов на странице, имеющих атрибут data-toggle="tooltip"
            $('[data-toggle="tooltip"]').tooltip();
        });


        function openFavoriteListModal(user_id) {
            console.log(user_id)
            var url = $("#list_favorites").attr("data-ajax-url");
            $.ajax({ // формируем AJAX запрос
                url: url,                    // подгружаем URL адрес для запроса
                data: {
                    'user_id': user_id       // добавляем objectID в query параметры GET запроса
                },
                success: function (data) {   // `data` результат выполнения  функции `load_contract`
                    $("#list_favorites").html(data);  // помещаем результат в выпадающее меню
                }
            });
            $('#to_favorites').modal('show');
        }

        function copyLink() {
            new bootstrap.Alert(alert)
            var link_name = window.location.hostname + '/details/' + {{ obj.id }};
            console.log(link_name)

            const textarea = document.createElement('textarea');
            textarea.value = link_name;

            // Move the textarea outside the viewport to make it invisible
            textarea.style.position = 'absolute';
            textarea.style.left = '-99999999px';

            document.body.prepend(textarea);

            // highlight the content of the textarea element
            textarea.select();

            try {
                document.execCommand('copy');
                /*navigator.clipboard.writeText(link_name)*/ /*Для HTTPS*/
                const toastLiveExample = document.getElementById('alertCopyLink')
                const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
                toastBootstrap.show()
            } catch (err) {
                console.log("Не получилось")
            } finally {
                textarea.remove();
            }
        }


    </script>

{% endblock %}