{% load task_tags %}
{#<!--#}
{#<a class="dropdown-item" href="{% url 'add_task' %}">Выдать задание</a>#}
{#<hr>#}
{##}
{#<a class="dropdown-item" href="{% url 'approve_list_to_sign' %}">Согласовать задание {% need_approve user %} </a>#}
{#<a class="dropdown-item" href="{% url 'outgoing_to_sign' %}">Подписать исходящие {% get_count_task_to_sign user %}</a>#}
{##}
{#<a class="dropdown-item" href="{% url 'incoming_to_sign' %}">Подписать#}
{#    входящие {% get_count_task_incoming_to_sign user %}</a>#}
{#<a class="dropdown-item" href="{% url 'incoming_to_workers' %}">Назначить#}
{#    исполнителей {% get_count_task_workers_to_sign user %}</a>#}
{##}
{#<a class="dropdown-item" href="{% url 'edit_workers' %}">Переназначить ответственных</a>#}
{#<hr>#}
{#<a class="dropdown-item" href="#submenu2" data-bs-toggle="collapse">Мои задания</a>#}
{#<ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">#}
{#    <li><a class="dropdown-item" href="{% url 'my_tasks' %}"> - Мои выданные задания</a></li>#}
{#    <li><a class="dropdown-item" href="{% url 'my_tasks_on_sign' %}"> - Мои задания на подписи</a></li>#}
{#    <li><a class="dropdown-item" href="{% url 'inbox' %}"> - Мои входящие задания</a></li>#}
{#</ul>#}
{##}
{##}
{#<a class="dropdown-item" href="#submenu3" data-bs-toggle="collapse">Задания#}
{#    отдела {{ user.department.command_number }}</a>#}
{#<ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">#}
{#    <li class="w-100">#}
{#        <a class="dropdown-item" href="{% url 'incoming_to_dep' %}"> - Входящие</a>#}
{#    </li>#}
{#    <li>#}
{#        <a class="dropdown-item" href=" {% url 'issued_tasks' %}"> - Выданные</a>#}
{#    </li>#}
{#    <li>#}
{#        <a class="dropdown-item" href=" {% url 'outgoing_tasks' %}"> - Исходящие</a>#}
{#    </li>#}
{#</ul>#}
{#-->#}

<li class="has-subnav">
    <a href="{% url 'add_task' %}">
        <i class="fa">
            <div class="icon-pen-menu"></div>
        </i>
        <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            Выдать задание
                        </span>
    </a>

</li>

<li class="has-subnav">
    <a href="{% url 'approve_list_to_sign' %}">
        <i class="fa">
            <div class="icon-handshake-regular">
                <p class="text-menu-sidebar numberCircle" id="approve_num"
                   style="display: none">{% need_approve user %}</p>
            </div>
        </i>
        <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            Согласовать задание
                        </span>
    </a>
</li>

<li class="has-subnav">
    <a href="{% url 'outgoing_to_sign' %}">
        <i class="fa">
            <div class="icon-outgoing_to_sign-menu">
                <p class="text-menu-sidebar numberCircle" id="outgoing_num"
                   style="display: none">{% get_count_task_to_sign user %}</p>
            </div>
        </i>
        <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            Подписать исходящее
                        </span>
    </a>

</li>
<li>
    <a href="{% url 'incoming_to_sign' %}">
        <i class="fa">
            <div class="icon-right-to-bracket-solid-menu">
                <p class="text-menu-sidebar numberCircle" id="incoming_to_sign_num"
                   style="display: none">{% get_count_task_incoming_to_sign user %}</p>
            </div>
        </i>

        <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            Подписать входящее
        </span>
    </a>
</li>
<li>
    <a href="{% url 'incoming_to_workers' %}">
        <i class="fa">
            <div class="icon-arrows-down-to-people-solid-menu">
                <p class="text-menu-sidebar numberCircle" id="workers_to_sign_num"
                   style="display: none">{% get_count_task_workers_to_sign user %}</p>
            </div>
        </i>

        <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                           Назначить исполнителей
                        </span>
    </a>
</li>

<li>
    <a href="{% url 'edit_workers' %}">
        <i class="fa">
            <div class="icon-people-pulling-solid-menu"></div>
        </i>
        <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            Переназначить ответственных
                        </span>
    </a>
</li>

<!-- Мои задания -->
<li class="has-subnav" onclick="onclickmytasks()">
    <a href="#">
        <i class="fa">
            <div class="icon-box-menu">
                <p class="text-menu-sidebar numberCircle" id="my_tasks_num_inbox"
                   style="display: none">{% need_to_reed_my_tasks user %}</p>
            </div>
        </i>
        <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            Мои задания
                        </span>
    </a>
</li>
<li class="has-subnav" id="my_tasks" style="display: none">
    <a href="{% url 'my_tasks' %}">
        <i class="fa">
            <div class="icon-angles-up-solid-menu"></div>
        </i>
        <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            Мои выданные задания
                        </span>
    </a>
</li>

<li class="has-subnav" id="my_tasks_on_sign" style="display: none">
    <a href="{% url 'my_tasks_on_sign' %}">
        <i class="fa">
            <div class="icon-angle-up-solid-menu"></div>
        </i>
        <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            Мои задания на подписи
                        </span>
    </a>
</li>

<li class="has-subnav" id="my_inbox" style="display: none">
    <a href="{% url 'inbox' %}">
        <i class="fa">
            <div class="icon-angles-down-solid-menu">
                <p class="text-menu-sidebar numberCircle" id="my_tasks_num_inbox"
                   style="display: none">{% need_to_reed_my_tasks user %}</p>
            </div>
        </i>
        <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            Мои входящие задания
                        </span>
    </a>
</li>

<!-- Задания отдела -->
<li class="has-subnav" onclick="onclickgrouptasks()">
    <a href="#">
        <i class="fa">
            <div class="icon-boxes-menu"></div>
        </i>
        <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            Задания отдела {{ user.department.command_number }}
        </span>
    </a>
</li>
<li class="has-subnav" id="group_inbox" style="display: none">
    <a href="{% url 'incoming_to_dep' %}">
        <i class="fa">
            <div class="icon-angles-down-solid-menu"></div>
        </i>
        <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
            Входящие задания
        </span>
    </a>
</li>

<li class="has-subnav" id="group_outbox" style="display: none">
    <a href="{% url 'issued_tasks' %}">
        <i class="fa">
            <div class="icon-angles-up-solid-menu"></div>
        </i>
        <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
            Выданные задания
        </span>
    </a>
</li>

<li class="has-subnav" id="group_on_sign" style="display: none">
    <a href="{% url 'outgoing_tasks' %}">
        <i class="fa">
            <div class="icon-angle-up-solid-menu"></div>
        </i>
        <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                Исходящие задания
        </span>
    </a>
</li>