{% extends "todo_tasks/base.html" %}
{% load static %}

{% block title %}
    Избранное / {{ list_name.favorite_list_name }}
{% endblock %}

{% block content %}
    <br>
    <h3 class="text-1-task" style="margin-top: 25px;">{{ list_name.favorite_list_name }}</h3>

    {% if access_flag %}
        {% if can_change_flag or holder_flag %}
            <div class="row justify-content-center">
                <div class="col" style="display: inline-block; text-align: center">
                    <div style="margin-top: 15px; margin-bottom: 15px">
                    <span class="text-5-book" style="text-transform: uppercase; display: inline; font-size: 15px"
                          onclick="location.href='{% url 'edit_favorites' pk=list_name.id %}';">
                        Редактировать список</span>
                        <span class="text-3-menu" style="text-transform: uppercase; font-size: 20px">
                        /</span>
                        <span class="text-5-book" style="text-transform: uppercase; display: inline; font-size: 15px"
                              onclick="location.href='{% url 'share_favorites' pk=list_name.id %}';">
                        Поделиться списком</span>
                    </div>
                </div>
            </div>
        {% endif %}

        <ul class="list-group">
            {% for favorite in list_favorites %}
                <li class="list-group-item d-flex justify-content-between align-items-center hover-mouse">
                    {{ favorite.favorite_list_name }}
                </li>
            {% endfor %}
        </ul>

        <table id="favorites_table" class="table table-hover" style="width: 100%">
            <thead>
            <tr>
                <th class="th_tables" scope="col">#</th>
                <th class="th_tables" scope="col">Номер задания</th>
                <th class="th_tables" scope="col">Объект</th>
                <th class="th_tables" scope="col">Здание</th>
                <th class="th_tables" scope="col">Текст задания</th>
                <th class="th_tables" scope="col">Статус</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in data_all_favorites %}
                <tr class="tr-tables" data-href="{% url 'details' pk=obj.favorite_task.id %}">
                    <th class="th_tables" scope="row">{{ forloop.counter }}</th>
                    <td class="td_tables">
                        {{ obj.favorite_task.task_number|truncatechars:15 }}</td>
                    <td class="td_tables">{{ obj.favorite_task.task_object|truncatechars:100 }}</td>
                    <td class="td_tables">{{ obj.favorite_task.task_building|truncatechars:100 }}</td>
                    <td class="td_tables">
                        <span data-toggle="tooltip"
                              title="{{ obj.favorite_task.text_task|truncatechars:500 }}">{{ obj.favorite_task.text_task|truncatechars:100 }}
                        </span>
                    </td>
                    <td class="td_tables">{{ obj.favorite_task.get_task_status_display }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

        <script>
            $(document).ready(function () {
                var table = $('#favorites_table').DataTable({
                        order: [[1, 'asc']],
                        dom:
                            "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                            "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>" + "<'row justify-content-md-center'<'col-sm-2 col-md-2 col-xxl-2'B>>",
                        "language": {
                            "lengthMenu": "Показать _MENU_",
                            "zeroRecords": "Записи не найдены",
                            "info": "Показано с _START_ по _END_ из _TOTAL_ записей",
                            "search": "Поиск:",
                            "paginate": {
                                "next": "Следующая",
                                "previous": "Предыдущая"
                            }
                        },
                        "aLengthMenu": [[1, 5, 10, 20, 25, -1], [1, 5, 10, 20, 25, "Все"]],
                        "iDisplayLength": 20,
                        buttons: ['pdf', 'excel']
                    }
                );
                table.buttons().container()
                    .appendTo($('.col-sm-6:eq(0)', table.table().container()));
            });

        </script>

    {% else %}
        <div class="centered_div">
            <div class="row justify-content-center" style="margin-top: 50px">
                <div class="col" style="display: inline-block; text-align: center">
                    <img src="{% static 'todo_tasks/icons/face-tired-regular.svg' %}" width="50px">
                    <br>
                    <span class="text-index-book"
                          style="display: inline-block; text-transform: uppercase; margin-top: 25px">У Вас нет доступа</span>
                </div>

                <div>
                    <p class="text-5-bold" style="text-transform: uppercase"
                       onclick="location.href='{% url 'favorites' %}';">Перейти в избранное</p>
                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}

{% block js_stuff %}
{% endblock %}