{% extends "todo_tasks/base.html" %}
{#{% extends 'todo_tasks/details/details.html' %}#}

{% block title %}
    Добавить/удалить файлы к заданию {{ obj.task_number }}
{% endblock %}
{% load static %}

{% block css_stuff %}
    <script type="text/javascript" src="{% static 'todo_tasks/htmx/htmx.min.js' %}"></script>
    <script>
        function showloader() {
            spinloader = document.getElementById('loaderspin')
            console.log(spinloader)
            spinloader.style.display = 'block'

            buttonadd = document.getElementById('button_add')
            buttonadd.style.visibility = 'hidden'
        }

        function hideloader() {
            spinloader = document.getElementById('loaderspin')
            console.log(spinloader)
            spinloader.style.display = 'none'

            buttonadd = document.getElementById('button_add')
            buttonadd.style.visibility = 'visible'
        }
    </script>
{% endblock %}
{% block content %}
    {% if obj.task_status == 1 and user.check_edit and obj.department_number == user.department  %}
        <br>
        <h3 class="text-1-task" style="margin-top: 25px; ">Файлы к заданию {{ obj.task_number }}</h3>
        <h3 class="text-1-task" style="margin-top: 0px; font-size: 12px">Редактирование</h3>
        {#    <h4>Добавить/удалить файлы к заданию {{ obj.task_number }}</h4>#}


        <form id="form-container" enctype="multipart/form-data" method="POST"
              hx-post={% url 'change_files' pk=obj.id %} hx-target="#task_files">
            {% csrf_token %}
            <p class="text-index-book-p" style="font-size: 15px">Выберите файлы для загрузки.</p>
            <span class="text-3"
                  style="display: inline-block; text-transform: uppercase; margin-top: 10px">Внимание!</span>
            <p class="text-index-book-p" style="font-size: 15px">После добавления файлов, подписи согласователей
                исчезнут.</p>
            <br>
            {{ file_form.file }}
            <br>
            <figure class="text-center">
                <a class="button-cancel-a" onclick="location.href='{% url 'details' pk=obj.id %}';"
                   style="cursor: context-menu;">К заданию</a>
                <button class="button-success" type="submit" onclick="showloader()" style="cursor: context-menu;"
                        hx-target="task_files" id="button_add">
                    Добавить
                </button>

                <div style="display: none;" id="loaderspin">
                    <span class="loader"></span>
                </div>
            </figure>
        </form>



        <div id="task_files">
            {% include 'todo_tasks/htmx/list_files.html' %}
        </div>
    {% else %}

        <div class="centered_div">
            <h4 class="text-1-task" style="margin-top: 25px;">{{ obj.task_number }}</h4>
            <div class="row " style="margin-top: 20px">
                <div class="col" style="display: inline-block; text-align: center">
                    <img src="{% static 'todo_tasks/icons/circle-xmark-solid.svg' %}" width="50px">
                    <br>
                    <span class="text-index-book"
                          style="display: inline-block; text-transform: uppercase; margin-top: 30px">Файлы нельзя отредактировать</span>
                </div>

                <div>
                    <p class="text-5-bold" style="text-transform: uppercase"
                       onclick="location.href='{% url "details" pk=obj.id %}';">Перейти к заданию</p>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}

{% block js_stuff %}

    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>

{% endblock %}



