{% load static %}
<script type="text/javascript" src="{% static 'todo_tasks/htmx/htmx.min.js' %}"></script>
    <form id="form-container" method="POST" hx-post={% url 'add_workers' %} hx-target="#worker_list">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset.forms %}
            <div class="worker_form">
                {{ form }}
            </div>
        {% endfor %}
        <button type="submit" hx-target="worker_list">OK</button>
    </form>
    <div id="worker_list">
        {% include 'todo_tasks/htmx/workers.html' %}
    </div>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}'; //insert csrf token when performing AJAX request
        })
    </script>

