{% if old_files %}

    {% load static %}
    {% load task_tags %}
    <br>
    <ul class="list-group">
        <div id="files_old">
            {% for file in old_files %}
                <li class="list-group-item d-flex justify-content-start align-items-center">
                    <img src="{% static 'todo_tasks/icons/file-arrow-down.svg' %}">
                    <a href="{% url 'download_file' file.id %}"
                       class="nav-link text-black">{% split_filename file.file %}</a>
                    {% csrf_token %}
                    <form id="form-3" data-method="delete" hx-delete={% url 'change_files' file.id %} hx-target="#files_old"
                          hx-swap="innerHTML">
                        <button class="btn btn-outline-danger btn-sm" hx-target="files_old" type="submit">
                            Удалить
                        </button>
                    </form>
                </li>
            {% endfor %}
        </div>
    </ul>
{% endif %}
