{#{% extends "todo_tasks/base.html" %}#}
{% extends 'todo_tasks/details/details.html' %}

{#{% block title %}#}
{#    Подробности#}
{#{% endblock %}#}
{% load static %}

{% block css_stuff %}
    <script type="text/javascript" src="{% static 'todo_tasks/htmx/htmx.min.js' %}"></script>
{% endblock %}

{% block buttons %}
    <br>


    <form id="form-container" method="POST"
          hx-post={% url 'details_to_add_workers' pk=obj.id %} hx-target="#worker_list">
        {% csrf_token %}
        <p>Назначить ответственного исполнителя:</p>
        {{ formset.worker_user }}
        <br>
        <figure class="text-center">
            <button class="btn btn-success" type="submit" hx-target="worker_list">Назначить исполнителя</button>
        </figure>
    </form>

    <div id="worker_list">
        {% include 'todo_tasks/htmx/workers.html' %}
    </div>

    <br>
    <br>

    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>

{% endblock %}



