{% extends "todo_tasks/base.html" %}
{% load static %}
{% block title %}
    Назначение ответственных исполнителей
{% endblock %}
{% block content %}
    {% block css_stuff %}
        <script type="text/javascript" src="{% static 'todo_tasks/htmx/htmx.min.js' %}"></script>
        <link href="{% static 'todo_tasks/select2/select2.min.css' %}" rel="stylesheet"/>
        <script src="{% static 'todo_tasks/select2/select2.min.js' %}"></script>
    {% endblock %}
    <br>
    <h4 class="text-1-task" style="margin-top: 25px">Корректировка ответственных исполнителей</h4>
    <p style="margin-top: 25px">Выберете задание, для которого необходимо откорректировать ответственных исполнителей</p>
    <div class="row">
        <form method="POST" hx-post={% url 'edit_workers' %} hx-target="#worker_list">
            <div class="col-6">
                {% csrf_token %}
                {{ form.task }}
            </div>
            <div class="col-2">
                <br>
                {#                    <figure class="text-center">#}
                <button class="button-primary-rusatom" type="submit" hx-target="worker_list">Получить данные</button>
                {#                    </figure>#}

            </div>
        </form>
    </div>

    <div id="worker_list">
        {% include 'todo_tasks/htmx/edit_workers.html' %}
    </div>


{% endblock %}

{% block js_stuff %}
    <!-- JS для работы таблицы со всеми заданиями -->
    <script>
        // после загрузки страницы
        $(function () {
            // инициализации подсказок для всех элементов на странице, имеющих атрибут data-toggle="tooltip"
            $('[data-toggle="tooltip"]').tooltip();
        });

        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
        $(document).ready(function () {
            $('#id_task').select2({
                placeholder: 'Выберете задание'
            });
        });

    </script>
{% endblock %}