{% extends "todo_tasks/base.html" %}
{% load static %}

{% block title %}
    Мои задания
{% endblock %}

{% block content %}
    <br>
    <h3 class="text-1-task" style="margin-top: 25px;">Ваши {{ text_status }} задания</h3>
    <table id="my_tasks_sign_table" class="table table-hover">
        <thead>
        <tr>
            <th class="th_tables" scope="col">#</th>
            <th class="th_tables" scope="col">Номер задания</th>
            <th class="th_tables" scope="col">Текст задания</th>
            <th class="th_tables" scope="col">Подпись</th>
        </tr>
        </thead>

        <tbody>
        {% for obj in data_user %}
            <tr class="tr-tables" data-href="{% url 'details' pk=obj.id %}">
                <th class="th_tables" scope="row">{{ forloop.counter }}</th>
                <td class="td_tables">
                    {{ obj.task_number }}</td>
                <td class="td_tables">
                    <span data-toggle="tooltip"
                          title="{{ obj.text_task|truncatechars:500 }}">{{ obj.text_task|truncatechars:100 }}
                    </span>
                </td>
                <td class="td_tables">
                    {% if obj.first_sign_status == 1 and obj.second_sign_status == 1 and obj.cpe_sign_status == 1 and obj.incoming_status == 1 %}
                        <img src="{% static 'todo_tasks/icons/check2-all.svg' %}" title="Подписали все">
                    {% elif obj.back_to_change == 1 %}
                        <img src="{% static 'todo_tasks/icons/x-lg.svg' %}" alt="Возвращено на редактирование">
                    {% elif obj.first_sign_status == 1 and obj.second_sign_status %}
                        <img src="{% static 'todo_tasks/icons/check2.svg' %}" alt="Подписал первый">
                        <img src="{% static 'todo_tasks/icons/check2.svg' %}" alt="Подписал второй">
                    {% elif obj.first_sign_status == 1 %}
                        <img src="{% static 'todo_tasks/icons/check2.svg' %}">
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}


{% block js_stuff %}
    <!JS для работы таблицы со всеми заданиями>
    <script>
        $(document).ready(function () {
            var table = $('#my_tasks_sign_table').DataTable({
                    {#order: [[1, 'asc']],#}
                    dom:
                        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>" + "<'row justify-content-md-center'<'col-sm-2 col-md-2 col-xxl-2'B>>",
                    "language": {
                        "lengthMenu": "Показать _MENU_",
                        "zeroRecords": "Записи не найдены",
                        "info": "Показано с _START_ по _END_ из _TOTAL_ записей",
                        "search": "Поиск:",
                        "paginate": {
                            "next": "Следующая",
                            "previous": "Предыдущая"
                        }
                    },
                    "aLengthMenu": [[1, 5, 10, 20, 25, -1], [1, 5, 10, 20, 25, "Все"]],
                    "iDisplayLength": 20,
                    buttons: ['pdf', 'excel']
                }
            );
            table.buttons().container()
                .appendTo($('.col-sm-6:eq(0)', table.table().container()));
        });
    </script>


{% endblock %}