{% extends "todo_tasks/base.html" %}

{% block title %}
    Добавить задание
{% endblock %}

{% block content %}
    <br>
    <h2 class="m-3, text-center">Выдать изменение к {{ obj.task_number }}</h2>
    <br>
    <form id="formAdd" method="post" data-contracts-url="{% url 'ajax_load_contracts' %}"
          data-stages-url="{% url 'ajax_load_stages' %}">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-5">
                    {% csrf_token %}

                    <br>


                    Текст задания:
                    {{ form.text_task }}
                    <br>
                    {#                    Здесь должно быть поле для загрузки файла#}
                </div>
            </div>
            <br>
            <br>
            <div class="row justify-content-center">
                <div class="col-2">
                    Первый руководитель:
                </div>
                <div class="col-3">
                    {{ form.first_sign_user }}
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-2">
                    Второй руководитель:
                </div>
                <div class="col-3">
                    {{ form.second_sign_user }}
                </div>
            </div>

            <br>

                        <div class="row justify-content-center">
                <div class="col-2">
                    Принимает:
                </div>
                <div class="col-3">
                    {{ form.incoming_dep }}
                </div>
            </div>
            <br>

            <div class="row justify-content-center">
                <div class="col">
                    <figure class="text-center">
                        <p> Задание {{ obj.task_number }} аннулируется автоматически </p>
                        <a href="{% url "details" pk=obj.id %}" class="btn btn-secondary">Отмена</a>
                        <button type="submit" class="btn btn-success" href="{% url 'change' pk=obj.id%}">Выдать задание
                        </button>
                    </figure>
                </div>
            </div>
        </div>


    </form>



{% endblock %}



{% block js_stuff %}

    <!JS для фильтрации списка контрактов>
    <script>
        $("#id_task_object").change(function () {
            var url = $("#formAdd").attr("data-contracts-url");  // url of the `load_contact` view
            var objectId = $(this).val();  // получаем object ID из HTML input

            $.ajax({                       // формируем AJAX запрос
                url: url,                    // подгружаем URL адрес для запроса
                data: {
                    'object': objectId       // добавляем objectID в query параметры GET запроса
                },
                success: function (data) {   // `data` результат выполнения  функции `load_contract`
                    $("#id_task_contract").html(data);  // помещаем результат в выпадающее меню
                }
            });

        });
        //!JS для фильтрации списка этапов
        $("#id_task_contract").change(function () {
            var url = $("#formAdd").attr("data-stages-url");
            var conractId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'contract': conractId
                },
                success: function (data) {
                    $("#id_task_stage").html(data);
                }
            });

        });
    </script>
{% endblock %}

