{% extends "todo_tasks/base.html" %}
{% load static %}


{% block css_stuff %}
    <link href="{% static 'todo_tasks/select2/select2.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'todo_tasks/select2/select2.min.js' %}"></script>

    <script>
        window.addEventListener("beforeunload", function () {
            spinloader = document.getElementById('loaderspin')
            spinloader.style.display = 'block'

            formadd = document.getElementById('formadd')
            formadd.style.display = 'none'
        });
    </script>
{% endblock %}


{% block title %}
    Добавить задание
{% endblock %}

{% block content %}
    {% if user.can_make_task %}

        <br>
        <h3 class="text-1-task" style="margin-top: 25px">Выдать задание</h3>
        <br>
        <div id="formadd">
            <form id="formAdd" method="post" enctype="multipart/form-data"
                  data-contracts-url="{% url 'ajax_load_contracts' %}"
                  data-stages-url="{% url 'ajax_load_stages' %}" data-incoming-emp-url="{% url 'ajax_load_inc_emp' %}">
                <div class="container">
                    <div id="update_form">
                        {% include 'todo_tasks/add_task/add_form.html' %}
                    </div>
                </div>
                <div style="margin-top: 15px">
                    <div class="row justify-content-center; ">
                        <div class="col">
                            <figure class="text-center">
                                <div>

                                    <button id="submit_button" class="button-primary-rusatom" type="submit"
                                            {#                                                disabled>Выдать задание#}
                                            style="width: 690px; margin-left: -40px; border-radius: 6px 0 0 6px"
                                            disabled>Выдать задание
                                    </button>

                                    <div class="dropup" style="position: absolute; display: inline-block;">
                                        <button id="draft_button" type="button"
                                                class="button-primary-rusatom"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false"
                                                style="width: 50px; border-radius: 0 6px 6px 0">
                                            ...
                                        </button>
                                        <ul class="dropdown-menu" style="border-radius: 6px">
                                            <li onclick="onClickSaveDraft()" id="save-draft"
                                                data-ajax-url="{% url 'ajax_save_draft' %}"><p
                                                    class="dropdown-item dropdown-primary-rusatom-item">
                                                Сохранить
                                                черновик</p></li>
                                            <li onclick="onClickLoadDraft()" , id="load-drafts"
                                                data-ajax-url="{% url 'ajax_load_drafts' %}"><p
                                                    class="dropdown-item dropdown-primary-rusatom-item">
                                                Черновики</p></li>
                                        </ul>
                                    </div>

                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div style="display: none;" id="loaderspin">
            <span class="loader"></span>
        </div>

        <div id="notification"></div>

        <!-- Модальное окно сохранения черновика -->
        <div class="modal fade" id="to_draft"
             tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Сохранить черновик</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">

                        Название черновика:
                        <div style="margin-top: 5px">
                            {{ draft_form.draft_name }}
                        </div>
                    </div>
                    <div class="modal-footer">

                        {% csrf_token %}
                        <button type="button" class="button-cancel-rusatom" data-bs-dismiss="modal">Отмена</button>
                        <button type="button" class="button-primary-rusatom" data-bs-toggle="modal"
                                onclick="SaveDraft()">
                            Сохранить
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Модальное окно загрузки черновика -->
        <div class="modal fade" id="from_draft"
             tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Загрузить черновик</h5>
                        <div>
                            <button type="button" class="icon-edit" aria-label="Share"
                                    onclick="changeShowDeleteButton()"></button>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Закрыть"></button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div id="drafts_list">Что-то пошло не так</div>
                        <div id="drafts_list_ul_link" data-ajax-url="{% url 'ajax_load_current_draft' %}" hidden></div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Модальное окно удаления черновика -->
        <div class="modal fade" id="delete_draft"
             tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Удалить черновик</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <div style="margin-top: 5px">
                            Удалить черновик "<span id="name_delete_draft"></span>"?
                            <div id="id_delete_draft" data-ajax-url="{% url 'ajax_delete_current_draft' %}"
                                 hidden></div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        {% csrf_token %}
                        <button type="button" class="button-cancel-rusatom" data-bs-dismiss="modal"
                                onclick="$('#from_draft').modal('show');
                                         $('#delete_draft').modal('hide');">Отмена
                        </button>
                        <button type="button" class="button-danger-rusatom"
                                onclick="confirmDeleteDraft()">
                            Удалить
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Модальное окно удаления всех черновиков -->
        <div class="modal fade" id="delete_all_draft"
             tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Удалить черновик</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <div style="margin-top: 5px">
                            Удалить все черновики?
                            <div id="id_delete_draft" data-ajax-url="{% url 'ajax_delete_current_draft' %}"
                                 hidden></div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        {% csrf_token %}
                        <button type="button" class="button-cancel-rusatom" data-bs-dismiss="modal"
                                onclick="$('#from_draft').modal('show');
                                         $('#delete_all_draft').modal('hide');">Отмена
                        </button>
                        <button type="button" class="button-danger-rusatom" id="delete_all_drafts"
                                data-ajax-url="{% url 'ajax_delete_all_drafts' %}"
                                onclick="allDraftsDelete()">
                            Удалить
                        </button>
                    </div>
                </div>
            </div>
        </div>


    {% else %}

        <div class="centered_div">
            <h4 class="text-1-task" style="margin-top: 25px;">Отказано в доступе</h4>
            <div class="row " style="margin-top: 20px">
                <div class="col" style="display: inline-block; text-align: center">
                    <img src="{% static 'todo_tasks/icons/circle-xmark-solid.svg' %}" width="50px">
                    <br>
                    <span class="text-index-book"
                          style="display: inline-block; text-transform: uppercase; margin-top: 30px">Вы не можете выдавать задания</span>
                </div>

                <div>
                    <p class="text-5-bold" style="text-transform: uppercase"
                       onclick="location.href='{% url "index" %}';">На главную</p>
                </div>
            </div>
        </div>

    {% endif %}




{% endblock %}



{% block js_stuff %}


    <script>

        function changeShowDeleteButton() {
            if (document.getElementById("draft_list_with_button").style.display === 'none') {
                document.getElementById("draft_list_without_button").style.display = 'none'
                document.getElementById("draft_list_with_button").style.display = 'block'
            } else {
                document.getElementById("draft_list_without_button").style.display = 'block'
                document.getElementById("draft_list_with_button").style.display = 'none'
            }
        }


        function onClickSaveDraft() {
            document.getElementById('notification').innerHTML = ''
            $('#to_draft').modal('show');
        }

        function onClickShowDeleteDraft(delete_draft_id, delete_draft_name) {
            console.log(delete_draft_id)
            console.log(delete_draft_name)
            document.getElementById('name_delete_draft').innerText = delete_draft_name
            document.getElementById('id_delete_draft').innerText = delete_draft_id
            $('#from_draft').modal('hide');
            $('#delete_draft').modal('show');

        }

        function confirmDeleteDraft() {

            var delete_draft_id = document.getElementById('id_delete_draft').innerText
            var delete_url = $("#id_delete_draft").attr("data-ajax-url");

            $.ajax({                       // формируем AJAX запрос
                url: delete_url,                    // подгружаем URL адрес для запроса
                data: {
                    'draft_id': delete_draft_id,       // добавляем objectID в query параметры GET запроса
                },
                success: function (data) {   // `data` результат выполнения  функции `load_contract`
                    /*$("#drafts_list").html(data);*/
                    onClickLoadDraft()
                    $('#delete_draft').modal('hide');
                    $('#from_draft').modal('show');

                }
            });
            /*console.log(delete_draft_id)*/

        }

        function showAllDelete() {
            $('#from_draft').modal('hide');
            $('#delete_all_draft').modal('show');
        }

        function allDraftsDelete() {
            var url_all_delete = $("#delete_all_drafts").attr("data-ajax-url");
            $('#delete_all_draft').modal('hide');
            $.ajax({                       // формируем AJAX запрос
                url: url_all_delete,                    // подгружаем URL адрес для запроса
                data: {
                    'user_id': {{user.id}},      // добавляем objectID в query параметры GET запроса
                },
                success: function () {   // `data` результат выполнения  функции `load_contract`
                    console.log('Все черновики пользователя {{ user.id }} удалены')
                }
            });
        }

        // JS для поля выбора отделов


        function checkParams() {
            /*Функция активации кнопки*/
            var objectId = $("#id_task_object").val();
            var id_task_contract = $("#id_task_contract").val();
            var type_workId = $("#id_task_type_work").val();
            var id_task_building = $("#id_task_building").val().length;
            var id_text_task = $("#id_text_task").val().length;
            var id_first_sign_user = $("#id_first_sign_user").val();
            var id_second_sign_user = $("#id_second_sign_user").val();
            var id_incoming_dep = $("#id_incoming_dep").val();
            if (id_incoming_dep.length > 0 && objectId > 0 && id_task_contract > 0 && type_workId > 0 && id_task_building > 0 && id_text_task > 0 && id_first_sign_user > 0 && id_second_sign_user > 0) {
                document.getElementById("submit_button").disabled = false;
                const dropdown_dutton = document.getElementById("draft_button")
                dropdown_dutton.classList.remove("button-primary-rusatom")
                dropdown_dutton.classList.add("button-primary-rusatom-v2")
            } else {
                document.getElementById("submit_button").disabled = true
                const dropdown_dutton = document.getElementById("draft_button")
                dropdown_dutton.classList.remove("button-primary-rusatom-v2")
                dropdown_dutton.classList.add("button-primary-rusatom")
            }
        }

        function SaveDraft() {
            var id_draft_name = $("#id_draft_name").val();
            console.log(id_draft_name)
            var objectId = $("#id_task_object").val();
            console.log(objectId)
            var id_task_contract = $("#id_task_contract").val();
            console.log(id_task_contract)
            var type_workId = $("#id_task_type_work").val();
            console.log(type_workId)
            var id_task_building = $("#id_task_building").val();

            var id_task_mark_doc = $("#id_task_mark_doc").val();
            console.log(id_task_building)
            console.log('id_task_mark_doc: ', id_task_mark_doc);
            var id_text_task = $("#id_text_task").val();
            console.log(id_text_task)
            var id_first_sign_user = $("#id_first_sign_user").val();
            console.log(id_first_sign_user)
            var id_second_sign_user = $("#id_second_sign_user").val();
            console.log(id_second_sign_user)
            var id_task_stage = $("#id_task_stage").val();

            var url = $("#save-draft").attr("data-ajax-url");

            $.ajax({                       // формируем AJAX запрос
                url: url,                    // подгружаем URL адрес для запроса
                method: "GET",
                data: {
                    'user_id': Number({{ user.id }}),       // добавляем objectID в query параметры GET запроса
                    'objectId': Number(objectId),
                    'id_task_contract': Number(id_task_contract),
                    'id_task_type_work': Number(type_workId),
                    'id_task_building': String(id_task_building),
                    'id_text_task': String(id_text_task),
                    'id_first_sign_user': Number(id_first_sign_user),
                    'id_second_sign_user': Number(id_second_sign_user),
                    'id_draft_name': String(id_draft_name),
                    'id_task_mark_doc': Number(id_task_mark_doc),
                    'id_task_stage': Number(id_task_stage),
                },
                success: function (data) {   // `data` результат выполнения  функции `load_contract`
                    $("#notification").html(data);
                }
            });
        };

        function onClickLoadDraft() {
            var url = $("#load-drafts").attr("data-ajax-url");

            $.ajax({                       // формируем AJAX запрос
                url: url,                    // подгружаем URL адрес для запроса
                data: {
                    'user_id': {{user.id}},       // добавляем objectID в query параметры GET запроса
                },
                success: function (data) {   // `data` результат выполнения  функции `load_contract`
                    $("#drafts_list").html(data);

                }
            });

            $('#from_draft').modal('show');
        }

        function loadCurrentDraft(draft_id) {
            console.log('load draft_id:', draft_id)
            var url = $("#drafts_list_ul_link").attr("data-ajax-url");
            $.ajax({                       // формируем AJAX запрос
                    url: url,                    // подгружаем URL адрес для запроса
                    data: {
                        'draft_id': draft_id,       // добавляем objectID в query параметры GET запроса
                    },
                    success: function (data) {   // `data` результат выполнения  функции `load_contract`
                        $("#update_form").html(data);
                    }
                }
            )
            ;
            $('#from_draft').modal('hide');
        }


    </script>
{% endblock %}



