{% extends "todo_tasks/base.html" %}
{% load static %}


{% block css_stuff %}
    <link href="{% static 'todo_tasks/select2/select2.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'todo_tasks/select2/select2.min.js' %}"></script>

    <script>
        window.addEventListener("beforeunload", function () {
            spinloader = document.getElementById('loaderspin')
            spinloader.style.display = 'block'

            formadd = document.getElementById('formadd')
            formadd.style.display = 'none'
        });
    </script>
{% endblock %}


{% block title %}
    Добавить задание
{% endblock %}

{% block content %}
    {% if user.can_make_task %}

        <br>
        <h3 class="text-1-task" style="margin-top: 25px">Выдать задание</h3>
        <br>
        <div id="formadd">
            <form id="formAdd" method="post" enctype="multipart/form-data"
                  data-contracts-url="{% url 'ajax_load_contracts' %}"
                  data-stages-url="{% url 'ajax_load_stages' %}" data-incoming-emp-url="{% url 'ajax_load_inc_emp' %}">
                <div class="container">

                    <div class="row">
                        <div class="col">
                            {% csrf_token %}

                            <span class="text-3"
                                  style="display: inline-block; text-transform: uppercase; margin-top: 10px">Объект:</span>
                            {{ form.task_object }}
                            <span class="text-3"
                                  style="display: inline-block; text-transform: uppercase; margin-top: 10px">Номер договора:</span>
                            {{ form.task_contract }}
                            <span class="text-3"
                                  style="display: inline-block; text-transform: uppercase; margin-top: 10px">Этап:</span>
                            {{ form.task_stage }}
                            <span class="text-3"
                                  style="display: inline-block; text-transform: uppercase; margin-top: 10px">Номер заказа:</span>
                            {{ form.task_order }}
                            <span class="text-3"
                                  style="display: inline-block; text-transform: uppercase; margin-top: 10px">Вид документации:</span>
                            {{ form.task_type_work }}
                            <span class="text-3"
                                  style="display: inline-block; text-transform: uppercase; margin-top: 10px">Марка документации:</span>
                            {{ form.task_mark_doc }}
                            <span class="text-3"
                                  style="display: inline-block; text-transform: uppercase; margin-top: 10px">Здание:</span>
                            {{ form.task_building }}

                        </div>
                        <div class="col">
                            <span class="text-3"
                                  style="display: inline-block; text-transform: uppercase; margin-top: 10px">Текст задания:</span>
                            {{ form.text_task }}
                        </div>
                    </div>

                    <br>
                    <div style="justify-content: center; align-items: center; margin-left: -150px">
                        <div class="row justify-content-center">
                            <div class="col-2">
                                <span class="text-4-book-left">Первый руководитель:</span>
                            </div>
                            <div class="col-3">
                                {#                            <span class="text-4-book-left" style="display: inline;"> </span>#}
                                {{ form.first_sign_user }}
                            </div>
                        </div>
                        <div class="row justify-content-center" style="margin-top: 15px">
                            <div class="col-2">
                                <span class="text-4-book-left">Второй руководитель:</span>
                            </div>
                            <div class="col-3">
                                {{ form.second_sign_user }}
                            </div>
                        </div>

                        <div class="row justify-content-center" style="margin-top: 15px">
                            <div class="col-2">
                                <span class="text-4-book-left">Принимающий отдел:</span>
                            </div>
                            <div class="col-3">
                                {{ form.incoming_dep }}
                            </div>
                        </div>

                        <div>
                            <div class="row justify-content-center" style="margin-top: 15px">
                                <div class="col-2">
                                    <span class="text-4-book-left">Добавьте файлы:</span>

                                </div>
                                <div class="col-3">
                                    {{ file_form.file }}
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center" style="margin-top: 15px">
                            <div class="col-2">
                                <span class="text-4-book-left">Требуются согласователи?:</span>

                            </div>

                            <div class="col-3" style="margin-top: 10px">
                                {{ form.task_need_approve }}
                            </div>

                        </div>


                        <div id="approve" style="display: none; margin-top: 15px; margin-left: 6px">
                            <div class="row justify-content-center">
                                <div class="col-2">
                                    <span class="text-4-book-left">Выберете согласователей:</span>

                                </div>

                                <div class="col-3">
                                    {{ approve_form.approve_user }}
                                </div>

                            </div>
                        </div>

                    </div>
                    <div style="margin-top: 15px">
                        <div class="row justify-content-center; ">
                            <div class="col">
                                <figure class="text-center">
                                    <button class="button-cancel-rusatom" onclick="location.href='{% url 'index' %}'"
                                            role="button">Отмена
                                    </button>
                                    <button class="button-primary-rusatom" type="submit">Выдать задание</button>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div style="display: none;" id="loaderspin">
            <span class="loader"></span>
        </div>


    {% else %}

        <div class="centered_div">
            <h4 class="text-1-task" style="margin-top: 25px;">Отказано в доступе</h4>
            <div class="row " style="margin-top: 20px">
                <div class="col" style="display: inline-block; text-align: center">
                    <img src="{% static 'todo_tasks/icons/circle-xmark-solid.svg' %}" width="50px">
                    <br>
                    <span class="text-index-book"
                          style="display: inline-block; text-transform: uppercase; margin-top: 30px">Вы не можете выдавать задания</span>
                </div>

                <div>
                    <p class="text-5-bold" style="text-transform: uppercase"
                       onclick="location.href='{% url "index" %}';">На главную</p>
                </div>
            </div>
        </div>

    {% endif %}


{% endblock %}



{% block js_stuff %}


    <script>
        // JS для поля выбора отделов
        $(document).ready(function () {
            $('#id_incoming_dep').select2({
                placeholder: 'Выберите отдел/отделы',
            });
            $('#id_first_sign_user').select2({
                placeholder: 'Выберите руководителя'
            });
            $('#id_second_sign_user').select2({
                placeholder: 'Выберите руководителя'
            });
            $('#id_task_object').select2({
                placeholder: 'Выберите объект'
            });
            $('#id_task_contract').select2({
                placeholder: 'Выберите № договора'
            });
            $('#id_task_stage').select2({
                placeholder: 'Не указан'
            });
            $('#id_task_order').select2({
                placeholder: 'Не указан'
            });
            $('#id_task_type_work').select2({
                placeholder: 'Выберите тип документации'
            });

            $('#id_approve_user').select2({
                placeholder: 'Выберите согласователей'
            });

            $('#id_task_mark_doc').select2({
                placeholder: 'Выберите марку документации'
            });


        });

        document.getElementById('id_task_need_approve').onchange = toggle;

        function toggle() {
            var div = document.getElementById('approve');
            if (this.checked) {
                div.style.display = 'block';
            } else
                div.style.display = 'none'

        }


        // JS для фильтрации списка контрактов
        $("#id_task_object").change(function () {
            var url = $("#formAdd").attr("data-contracts-url");
            var objectId = $(this).val();  // получаем object ID из HTML input

            $.ajax({                       // формируем AJAX запрос
                url: url,                    // подгружаем URL адрес для запроса
                data: {
                    'object': objectId       // добавляем objectID в query параметры GET запроса
                },
                success: function (data) {   // `data` результат выполнения  функции `load_contract`
                    $("#id_task_contract").prop('disabled', false);
                    $("#id_task_contract").html(data);  // помещаем результат в выпадающее меню
                }
            });

        });
        //!JS для фильтрации списка этапов
        $("#id_task_contract").change(function () {
            var url = $("#formAdd").attr("data-stages-url");
            var conractId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'contract': conractId
                },
                success: function (data) {
                    $("#id_task_stage").prop('disabled', false);
                    $("#id_task_stage").html(data);
                }
            });

        });

    </script>
{% endblock %}



