{% extends "todo_tasks/base.html" %}
{% load static %}

{% block title %}
    Добавить задание
{% endblock %}

{% block content %}
    {% if user.check_edit and obj.department_number == user.department %}
        <br>
        <h4 class="text-1-task" style="margin-top: 25px;">Выдать изменение к {{ obj.task_number }}</h4>
        <form id="formAdd" method="post" data-contracts-url="{% url 'ajax_load_contracts' %}"
              data-stages-url="{% url 'ajax_load_stages' %}">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-5">
                        {% csrf_token %}

                        <span class="text-3" style="display: inline-block; text-transform: uppercase; margin-top: 10px">Текст задания:</span>
                        {{ form.text_task }}

                        {#                    Здесь должно быть поле для загрузки файла#}
                    </div>
                </div>
                <br>
                <br>
                <div class="row justify-content-center">
                    <div class="col-2">
                        <span class="text-4-book-left">Первый руководитель:</span>
                    </div>
                    <div class="col-3">
                        {{ form.first_sign_user }}
                    </div>
                </div>

                <br>
                <div class="row justify-content-center">
                    <div class="col-2">
                        <span class="text-4-book-left">Второй руководитель:</span>
                    </div>
                    <div class="col-3">
                        {{ form.second_sign_user }}
                    </div>
                </div>

                <br>

                <div class="row justify-content-center">
                    <div class="col-2">
                        <span class="text-4-book-left">Принимающий отдел:</span>
                    </div>
                    <div class="col-3">
                        {{ form.incoming_dep }}
                    </div>
                </div>

                <br>

                <div class="row justify-content-center">
                    <div class="col" style="max-width: 520px">
                        <figure class="text-center">
                            <p class="text-index-book-p" style="font-size: 15px; margin-top: 0; margin-bottom: 25px">
                                Задание {{ obj.task_number }} аннулируется автоматически </p>
                            {% comment %}
                            <a href="{% url "details" pk=obj.id %}" class="button-cancel-a ">Отмена</a>
                            {% endcomment %}
                            <div class="row">
                                <button type="submit" class="button-primary-rusatom"
                                        href="{% url 'change' pk=obj.id %}" style="width: 520px">Выдать
                                    задание
                                </button>
                            </div>
                            <div class="row">
                                <div style="margin-top: 10px; width: 520px; cursor: pointer"
                                     class="button-cancel-rusatom"
                                     onclick="location.href='{% url 'details' pk=obj.id %}';">
                                    Отмена
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>


        </form>
    {% else %}

        <div class="centered_div">
            <h4 class="text-1-task" style="margin-top: 25px;">{{ obj.task_number }}</h4>
            <div class="row " style="margin-top: 20px">
                <div class="col" style="display: inline-block; text-align: center">
                    <img src="{% static 'todo_tasks/icons/circle-xmark-solid.svg' %}" width="50px">
                    <br>
                    <span class="text-index-book"
                          style="display: inline-block; text-transform: uppercase; margin-top: 30px">Это задание нельзя отредактировать</span>
                </div>

                <div>
                    <p class="text-5-bold" style="text-transform: uppercase"
                       onclick="location.href='{% url "details" pk=obj.id %}';">Перейти к заданию</p>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}



{% block js_stuff %}

    <!JS для фильтрации списка контрактов>
    <script>
        $("#id_task_object").change(function () {
            var url = $("#formAdd").attr("data-contracts-url");  // url of the `load_contact` view
            var objectId = $(this).val();  // получаем object ID из HTML input

            $.ajax({                       // формируем AJAX запрос
                url: url,                    // подгружаем URL адрес для запроса
                data: {
                    'object': objectId       // добавляем objectID в query параметры GET запроса
                },
                success: function (data) {   // `data` результат выполнения  функции `load_contract`
                    $("#id_task_contract").html(data);  // помещаем результат в выпадающее меню
                }
            });

        });
        //!JS для фильтрации списка этапов
        $("#id_task_contract").change(function () {
            var url = $("#formAdd").attr("data-stages-url");
            var conractId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'contract': conractId
                },
                success: function (data) {
                    $("#id_task_stage").html(data);
                }
            });

        });
    </script>
{% endblock %}

