{% extends "todo_tasks/base.html" %}
{% load static %}

{% block title %}
    Отредактировать задание {{ obj.task_number }}
{% endblock %}

{% block content %}
    {% if obj.task_status == 1 and user.check_edit and obj.department_number == user.department %}
        <br>
        <h4 class="text-1-task" style="margin-top: 25px;">Отредактировать задание {{ obj.task_number }}</h4>
        <form id="formAdd" method="post" data-contracts-url="{% url 'ajax_load_contracts' %}"
              data-stages-url="{% url 'ajax_load_stages' %}">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-5">
                        {% csrf_token %}

                        <span class="text-3" style="display: inline-block; text-transform: uppercase; margin-top: 10px">Здание:</span>
                        {{ form.task_building }}
                        <span class="text-3" style="display: inline-block; text-transform: uppercase; margin-top: 10px">Текст задания:</span>
                        {{ form.text_task }}
                        <br>
                        {#                    Здесь должно быть поле для загрузки файла#}
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-2">
                        <span class="text-4-book-left">Первый руководитель:</span>
                    </div>
                    <div class="col-3">
                        {{ form.first_sign_user }}
                    </div>
                </div>

                <br>
                <div class="row justify-content-center">
                    <div class="col-2">
                        <span class="text-4-book-left">Второй руководитель:</span>
                    </div>
                    <div class="col-3">
                        {{ form.second_sign_user }}
                    </div>
                </div>

                <br>

                <div class="row justify-content-center">
                    <div class="col-2">
                        <span class="text-4-book-left">Принимающий отдел:</span>
                    </div>
                    <div class="col-3">
                        {{ form.incoming_dep }}
                    </div>
                </div>

                <br>

                <div class="row justify-content-center">
                    <div class="col">
                        <figure class="text-center">
                            <button type="button" class="button-danger-rusatom" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">Удалить
                            </button>
                            <button onclick="location.href={% url "details" pk=obj.id %}" class="button-cancel-fill">Отмена</button>
                            <button type="button" class="button-success" data-bs-toggle="modal"
                                    data-bs-target="#ConfirmModal">Сохранить
                            </button>

                        </figure>
                    </div>
                </div>
            </div>


            <!-- Modal -->

            <div class="modal fade" id="ConfirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                <span class="text-3"
                                      style="display: inline-block; text-transform: uppercase;">Внимание!</span>
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <p class="text-index-book-p" style="font-size: 15px; margin-top: 0">После изменения, все
                                подписи
                                исчезнут.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="button-success" href="{% url 'change' pk=obj.id %}">Сохранить
                            </button>
                            <button type="button" class="button-cancel" data-bs-dismiss="modal">Отмена</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>



        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                                            <span class="text-3"
                                      style="display: inline-block; text-transform: uppercase;">Удаление</span></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="text-index-book-p" style="font-size: 15px; margin-top: 0">Вы точно хотите удалить запись?</p>
                    </div>
                    <div class="modal-footer">
                        <form method="post">
                            {% csrf_token %}
                            <input type="submit" class="button-danger" name="delete_number" value="Удалить">
                            <button type="button" class="button-cancel" data-bs-dismiss="modal">Отмена</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    {% else %}

        <div class="centered_div">
            <h4 class="text-1-task" style="margin-top: 25px;">{{ obj.task_number }}</h4>
            <div class="row " style="margin-top: 20px">
                <div class="col" style="display: inline-block; text-align: center">
                    <img src="{% static 'todo_tasks/icons/circle-xmark-solid.svg' %}" width="50px">
                    <br>
                    <span class="text-index-book"
                          style="display: inline-block; text-transform: uppercase; margin-top: 30px">Это задание нельзя отредактировать</span>
                </div>

                <div>
                    <p class="text-5-bold" style="text-transform: uppercase"
                       onclick="location.href='{% url "details" pk=obj.id %}';">Перейти к заданию</p>
                </div>
            </div>
        </div>

    {% endif %}


{% endblock %}



{% block js_stuff %}

    <!JS для фильтрации списка контрактов>
    <script>
        $("#id_task_object").change(function () {
            var url = $("#formAdd").attr("data-contracts-url");  // url of the `load_contact` view
            var objectId = $(this).val();  // получаем object ID из HTML input

            $.ajax({                       // формируем AJAX запрос
                url: url,                    // подгружаем URL адрес для запроса
                data: {
                    'object': objectId       // добавляем objectID в query параметры GET запроса
                },
                success: function (data) {   // `data` результат выполнения  функции `load_contract`
                    $("#id_task_contract").html(data);  // помещаем результат в выпадающее меню
                }
            });

        });
        //!JS для фильтрации списка этапов
        $("#id_task_contract").change(function () {
            var url = $("#formAdd").attr("data-stages-url");
            var conractId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'contract': conractId
                },
                success: function (data) {
                    $("#id_task_stage").html(data);
                }
            });

        });
    </script>
{% endblock %}

