{% extends "todo_tasks/base.html" %}
{% load static %}
{% block title %}
    Выданные задания отдела {{ user.department.command_number }}
{% endblock %}

{% block content %}
    {% if data_all %}
        <br>
        <h3 class="text-1-task" style="margin-top: 25px;">Выданные задания
            отдела {{ user.department.command_number }}</h3>

        <table id="all_tasks_table" class="table table-hover">
            <thead>
            <tr>
                <th class="th_tables" scope="col">#</th>
                <th class="th_tables" scope="col">Номер задания</th>
                <th class="th_tables" scope="col">Текст задания</th>
                <th class="th_tables" scope="col">Автор задания</th>
            </tr>
            </thead>

            <tbody>
            {% for obj in data_all %}
                <tr class="tr-tables" data-href="{% url 'details' pk=obj.id %}">
                    <th class="th_tables" scope="row">{{ forloop.counter }}</th>
                    <td class="td_tables">
                        {{ obj.task_number }}</td>
                    <td class="td_tables">
                    <span data-toggle="tooltip"
                          title="{{ obj.text_task|truncatechars:500 }}">{{ obj.text_task|truncatechars:100 }}
                    </span>
                    </td>
                    <td class="td_tables">{{ obj.author }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <div class="centered_div">
            <h4 class="text-1-task" style="margin-top: 25px;">Выданные задания
                отдела {{ user.department.command_number }}</h4>
            <div class="row justify-content-center" style="margin-top: 0px">
                <div class="col" style="display: inline-block; text-align: center">
                <span class="text-index-book"
                      style="display: inline-block; text-transform: uppercase; margin-top: 25px">Здесь пока что пусто</span>
                    <br>
                    <img src="{% static 'todo_tasks/icons/face-meh-regular.svg' %}" width="50px"
                         style="margin-top: 30px">

                </div>
                <div>
                    <p class="text-5-bold" style="text-transform: uppercase"
                       onclick="location.href='{% url 'index' %}';">На главную</p>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}

{% block js_stuff %}
    <!-- JS для работы таблицы со всеми заданиями -->
    <script>

        function newStyleButton() {
            const pdf_button = document.getElementsByClassName("btn btn-secondary buttons-pdf buttons-html5")[0]
            console.log(pdf_button);
            pdf_button.classList.remove("btn")
            pdf_button.classList.remove("btn-secondary")
            pdf_button.classList.remove("buttons-pdf")
            pdf_button.classList.remove("buttons-html5")
            pdf_button.textContent = ''
            pdf_button.classList.add("pdf_button_icon")

            const exel_button = document.getElementsByClassName("btn btn-secondary buttons-excel buttons-html5")[0]
            console.log(exel_button);
            exel_button.classList.remove("btn")
            exel_button.textContent = ''
            exel_button.classList.add("exel_button_icon")
        }

        $(document).ready(function () {
            var table = $('#all_tasks_table').DataTable({
                    {#order: [[1, 'asc']],#}
                    dom:
                        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>"+
                        "<'col-sm-2 col-md-2 col-xxl-2'B>",
                    "language": {
                        "lengthMenu": "Показать _MENU_",
                        "zeroRecords": "Записи не найдены",
                        "info": "Показано с _START_ по _END_ из _TOTAL_ записей",
                        "search": "Поиск:",
                        "paginate": {
                            "next": "Следующая",
                            "previous": "Предыдущая"
                        }
                    },
                    "aLengthMenu": [[1, 5, 10, 20, 25, -1], [1, 5, 10, 20, 25, "Все"]],
                    "iDisplayLength": 20,
                    buttons: ['pdf', 'excel']
                }
            );
            table.buttons().container()
                .appendTo($('.col-sm-6:eq(0)', table.table().container()));
            newStyleButton()
        });


    </script>



{% endblock %}