{% extends "todo_tasks/base.html" %}

{% block title %}
    Входящие задания
{% endblock %}

{% block content %}
    <br>
    <h3 class="text-1-task" style="margin-top: 25px;">Входящие задания, которым необходимо назначить исполнителей</h3>
    <br>
    <table id="incoming_table_dep" class="table table-hover" style="width: 100%">
        <thead>
        <tr>
            <th class="th_tables" scope="col">#</th>
            <th class="th_tables" scope="col">Номер задания</th>
            <th class="th_tables" scope="col">Текст задания</th>
            <th class="th_tables" scope="col">Автор задания</th>
            <th class="th_tables" scope="col">Исполнители</th>
        </tr>
        </thead>
        <tbody>

        {% for obj in data_without_workers %}
            <tr>
                <th class="th_tables" scope="row">{{ forloop.counter }}</th>
                <td class="td_tables">
                    <a href="{% url 'details_to_add_workers' pk=obj.id %}"
                       style="position: absolute; width: 100%; left: 0px; height: 1.5em;"></a>
                    {{ obj.task_number }}</td>
                <td class="td_tables">
                    <span data-toggle="tooltip"
                          title="{{ obj.text_task|truncatechars:500 }}">{{ obj.text_task|truncatechars:100 }}
                    </span>
                </td>
                <td class="td_tables">{{ obj.author }}</td>
                <td class="td_tables">
                    {% if obj.task_workers %}
                        Назначены
                    {% else %}
                        Не назначены
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}

