{% extends "todo_tasks/base.html" %}
{% load static %}

{% block title %}
    Входящие задания
{% endblock %}

{% block content %}
    {% if tasks %}
        <br>

        <h4 class="text-1-task" style="margin-top: 25px;">{{ user }}, эти задания ожидают Вашего согласования</h4>
        <table id="incoming_table" class="table table-hover" style="width: 100%">
            <thead>
            <tr>
                <th class="th_tables" scope="col">#</th>
                <th class="th_tables" scope="col">Номер задания</th>
                <th class="th_tables" scope="col">Текст задания</th>
                <th class="th_tables" scope="col">Автор задания</th>
            </tr>
            </thead>
            <tbody>

            {% for obj in tasks %}
                <tr class="tr-tables" data-href="{% url 'approve_details' pk=obj.id %}">
                    <th class="th_tables" scope="row">{{ forloop.counter }}</th>
                    <td class="td_tables">
                        {{ obj.task_number }}</td>
                    <td class="td_tables">
                    <span data-toggle="tooltip"
                          title="{{ obj.text_task|truncatechars:500 }}">{{ obj.text_task|truncatechars:100 }}
                    </span>
                    </td>
                    <td class="td_tables">{{ obj.author }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% else %}
        <div class="centered_div">
            <h4 class="text-1-task" style="margin-top: 25px;">{{ user }}</h4>
            <div class="row justify-content-center" style="margin-top: 0px">
                <div class="col" style="display: inline-block; text-align: center">
                <span class="text-index-book"
                      style="display: inline-block; text-transform: uppercase; margin-top: 25px">Задания для согласований отсутствуют</span>
                    <br>
                    <img src="{% static 'todo_tasks/icons/face-grin-beam-regular.svg' %}" width="50px"
                         style="margin-top: 30px">

                </div>
                <div>
                    <p class="text-5-bold" style="text-transform: uppercase"
                       onclick="location.href='{% url 'index' %}';">На главную</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

