{% extends "todo_tasks/base.html" %}

{% block title %}
    Входящие задания
{% endblock %}

{% block content %}
    <br>
    <h4>{{ user }}, эти задания ожидают Ваших согласований</h4>
<table id="incoming_table" class="table table-hover" style="width: 100%">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Номер задания</th>
                        <th scope="col">Текст задания</th>
                        <th scope="col">Автор задания</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for obj in tasks %}
                        <tr data-href="{% url 'approve_details' pk=obj.id %}">
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                {{ obj.task_number }}</td>
                            <td>{{ obj.text_task|truncatechars:100 }}</td>
                            <td>{{ obj.author }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

{% endblock %}

